{% extends 'cron/base.html' %}

{% block content %}
<!-- Cr0nogram Content Start-->

<div align="center">
  
  <h2>The Cr0n Report - GameCity8</h2>

<iframe width="960" height="540" src="http://www.youtube.com/embed/3dwhGyeDPOw?rel=0&autoplay=1" frameborder="0" class="box-border" allowfullscreen></iframe>  

</div>

<br/>

<p>Maria Merchant reports from the Cr0n Bunker, our secret underground headquarters, as the Agents prepare for action.</p>

<br/>
	<a class='inputbutton' href="{% url 'cron_index' %}">Back</a>
	
{% endblock %}



<!-- Cr0nogram Content End-->
