{% extends 'cron/base.html' %}

{% block content %}
<!-- Cr0nogram Content Start-->

<div align="center">
  
  <h2>Dr Moreau Recording</h2>

<iframe width="960" height="540" src="http://www.youtube.com/embed/5udedSw7lI0?rel=0&autoplay=1" frameborder="0" class="box-border" allowfullscreen></iframe>  

</div>

<br/>

<p>A video of Dr Moreau talking about MoP's Sword and Shield project was recently discovered by our Agents.</p>

<br/>
<br/>
	<a class='inputbutton' href="{% url 'cron_index' %}">Back</a>
	
{% endblock %}

