{% extends 'cron/base.html' %}
{% load staticfiles %}


{% block content %}

<!-- Cr0nogram Content Start-->
<div align="center"><h2>Inside the Bunker</h2>
  <div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1220-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1220.JPG' %}" class="link-1">View Evidence</a></p>
      <p>One of the Cr0n provenance boards</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1530-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1530.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Cr0n intelligence report</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1538-sm.jpg' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1538.jpg' %}" class="link-1">View Evidence</a></p>
      <p>Cr0n intelligence report</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="top-1">
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1540-sm.jpg' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1540.jpg' %}" class="link-1">View Evidence</a></p>
      <p>Top secret coded document</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1542-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1542.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Cr0n intelligence report</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1548-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1548.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="top-1">
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1561-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1561.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1564-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1564.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1565-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1565.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="top-1">
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1567-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1567.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1571-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1571.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Top secret  documents</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1586-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1586.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="top-1">
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1587-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1587.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Close-up of the provenance board evidence</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_1595-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_1595.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Top secret  documents</p>
    </div>
    <div class="block-4">
      <figure class="box-border"><img src="{% static 'cron/images/bunker/IMG_8091-sm.JPG' %}" alt=""></figure>
      <p><a href="{% url 'cron_intelligence_bunker_image' 'IMG_8091.JPG' %}" class="link-1">View Evidence</a></p>
      <p>Top secret  documents</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<br/>
<br/>
<br/>
	<a class='inputbutton' href="{% url 'cron_index' %}">Back</a>
	
{% endblock %}
