{% extends 'cron/base.html' %}

{% block content %}
<!-- Cr0nogram Content Start-->

<div align="center">
  
  <h2>MoP Message Intercepted</h2>

<iframe width="960" height="540" src="http://www.youtube.com/embed/xPOuti0_lr4?rel=0&autoplay=1" frameborder="0" class="box-border" allowfullscreen></iframe>  

</div>

<br/>

<p>A secret comunication from MoP Agent M was intercepted by our Agents during GameCity8.</p>

<br/>

<br/>
	<a class='inputbutton' href="{% url 'cron_index' %}">Back</a>
	
{% endblock %}