body {
	background-color:#7979d2;
	font-family:Tahoma, sans-serif;
	color:#bbb;
}

div.main {
	background-color:#030;
	margin:25px;
	padding:25px;
	padding-top:10px;
	border:16px dashed #bbb;
	width:500px;

}

div.header {
	text-align:right;
	margin-right:50px;
	margin-bottom:-20px;
}


a {
	color:inherit;
}