<h1>DeptX</h1>
<p>
Welcome to this wonderful website. This page will not be shown during the game. It is just here to help people orient themselves and be pointed to all the marvelloous websites we have set-up.
</p>
<p>
Please first create a player-account, then visit the Cron page, and lastly go to the Mop.<br/>
<ul>
	<li><a href="{% url 'gamecity_index' %}">Gamecity website (outgame)</a></li>
	<li><a href="{% url 'players_index' %}">Game website (outgame, player registration)</a></li>
	<li><a href="{% url 'cron_index' %}">Cron website (ingame)</a></li>
	<li><a href="{% url 'mop_index' %}">Mop website (ingame)</a></li>
	<li><a href="{% url 'admin:index' %}">Admin area (be careful where you step!)</a></li>
</ul>
</p>