{% extends 'cron/base.html' %}

{% block content %}

{% if success %}
	<h1>Registration succesful</h1>
	<p>You can <a href="{% url 'cron_index' %}">login</a> now and start your adventure.</p>

{% else %}
	<h1>Please create an account</h1>
	<form action="{% url 'players_registration' %}" method="post">{% csrf_token %}
	<h2>Personal:</h2>
	{{ player_form.as_p }}
	<h2>Cron:</h2>
	{{ user_form.as_p }}
	Secret Passcode: <input type="text" name="registration_passcode" /><br/>
	<input type="submit" value="Submit" />
	</form>
{% endif %}

{% endblock %}