{% extends 'cron/base.html' %}

{% block content %}

{% if cron.activated %}
	<h1>Activation succesful</h1>
	<p>Agent {{cron.user.username}}, you can <a href="{% url 'cron_index' %}">login</a> now and help us change the world.</p>
	{% if study %}
		<br/>
		<p>(And thank you for agreeing to help us in our research!)</p>
	{% endif %}

{% elif wrongCode %}
	<h1>Error</h1>
	<p>This activation code does not exist.</p>

{% elif alreadyActivated %}
	<h1>Error</h1>
	<p>The account associated with this activation code is already active. Please <a href="{% url 'cron_index' %}">login</a>.</p>

{% elif registered %}
	<h1>Activation Required</h1>
	<p>We have sent an email to {{cron.email}} with an activation link. Please click on the link to complete your registration.</p>
	
	

{% else %}
	<h1>Cron Registration</h1>
	<form action="{% url 'players_registration' %}" method="post">{% csrf_token %}
	<table>
	<tr><td>Agent Codename:</td><td>{{user_form.username}}</td><td>{{user_form.username.errors}}Letters, digits and @/./+/-/_ only.</td></tr>
	<tr><td>Email:</td><td>{{cron_form.email}}</td><td>{{cron_form.email.errors}}Used for account activation</td></tr>
	<tr><td>Password:</td><td>{{user_form.password1}}</td><td>{{user_form.password1.errors}}</td></tr>
	<tr><td>Password Confirmation:</td><td>{{user_form.password2}}</td><td>{{user_form.password2.errors}}</td></tr>
	<tr><td>Secret Passcode:</td><td><input type="text" name="registration_passcode" /></td><td></td></tr>
	<tr><td>I am sixteen or older:</td><td>{{cron_form.overSixteen}}</td><td>{{cron_form.overSixteen.errors}}We do not believe in child agents.</td></tr>
	</table>
	<input class='button' type="submit" value="Submit" />
	</form>
{% endif %}

{% endblock %}