{% extends 'cron/base.html' %}

{% block content %}


<h1>Registration for Study</h1>
<p>Thank you for wanting to participate in our research!</p>
<p>We would like to ask you for some demographic data for our study. This data is purely for research purposes and is not part of the game. Remember, we will also always anonymise your data before publishing.</p>
<form action="{% url 'players_activation_study' code %}" method="post">{% csrf_token %}
<table>
<tr><td>Name:</td><td>{{form.name}}</td><td>{{form.name.errors}}</td></tr>
<tr><td>Age:</td><td>{{form.age}}</td><td>{{form.age.errors}}</td></tr>
<tr><td>Gender:</td><td>{{form.gender}}</td><td>{{form.gender.errors}}</td></tr>
<tr><td>Town:</td><td>{{form.town}}</td><td>{{form.town.errors}}</td></tr>
<tr><td>Country:</td><td>{{form.country}}</td><td>{{form.country.errors}}</td></tr>
</table>
<input class='button' type="submit" value="Submit" />
</form>

{% endblock %}