{% load staticfiles %}
{% include 'mop/header.html' %}
<body>


<div class="wrapper">
	
	<div class="header">
		<marquee behavior="scroll" direction="left">
		<span class="marquee"></span>
		<span class="marquee">MoP - Proudly watching you since 1872</span>
		<span class="marquee">MoP - Putting the form back into information</span>
		<span class="marquee">MoP - He who controls the past controls the future. He who controls the present controls the past.</span>
		<span class="marquee">MoP - War is peace. Freedom is slavery. Ignorance is strength.</span>
		<span class="marquee">MoP - Keep calm and carry on.</span>
		<span class="marquee">MoP - The need is great, the time is short, PROVENANCE must be the watchword.</span>
		</marquee>
	</div>
	
	<div class="navbar">
		<table>
		<tr>
			<td class="nobox"><a class="button" href="{% url 'mop_index' %}"><input class="button" type="submit" value="control centre" /></a></td>
			<td class="nobox">Citizen Helper: {{user.username}}<br/>Trust: {{user.mop.mopTracker.trust}}<br/>Credit: {{user.mop.mopTracker.credit}}</td>
			<td class="nobox"><a class="button" href="{% url 'mop_logout' %}"><input class="button" type="submit" value="logout" /></a></td> 
			<td class="nobox"><img id='mailimage' width='30px' src="{{user.mop.mopTracker.getMailUrl}}" style="visibility:{% if request.session.inbox_unread == 0 or request.session.has_checked_inbox %}hidden{% else %}visible{% endif %};vertical-align:middle"> <span id="checkmail" />{{ request.session.inbox_unread }} unread message(s)</span></td>
			<td class="nobox"><div id="spinner" style="-webkit-transform:scale(.35);"></div></td>
		</tr>
		</table>
	</div>
	
	<div class="main">
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="sidebar">
			<div class="withImage"><img src="{% static 'mop/logo-mop-bg.png' %}"/><h1>Guidance</h1></div>
			{% block help %}
			{% endblock %}
		</div>
	</div>
</div>



</body>