{% load staticfiles %}

<div class="main">
	<div class="content">
		<h1>MoP Control Centre</h1>
		<a href="{% url 'mop_control_mail' %}">send mopmail</a><br/>
		<a href="{% url 'mop_control_mail_outstanding' %}">view outstanding mopmail</a><br/><br/>
			{% for out in output %}
				{{out}}<br/>
			{% endfor %}
			<form action="{% url 'mop_control' %}" method="post">{% csrf_token %}
		<h1>Unprocessed Mails</h1>
		<table>
		<tr><th>Mop</th><th>Id</th><th>Subject</th><th>Sent</th></tr>
		{% for mail in mail_list %}
			<tr><td>{{mail.mop.user.username}}</td><td>{{mail.id}}</td><td>{{mail.get_subject_display}}</td><td>{{mail.sentAt}}</td></tr>
		{% endfor %}
		</table>
		<input class="button" type="submit" value="process mail" name="mail" /><br/>
		<h1>Available Document Templates</h1>
		<table>
		<tr><th>Amount</th><th>Active</th><th>Document</th><th>Provenance</th><th>Unit</th><th>Clearance</th><th>Create Randomized</th></tr>
		{% for mopDocument in mopDocument_list %}
			<tr style="{% if mopDocument.active %}color:{{mopDocument.get_clearance_display}};{% endif %}"><td>{{mopDocument.amount}}</td><td>{{mopDocument.active}}</td><td>{{mopDocument.name}}</td><td>{{mopDocument.provenance.name}}</td><td>{{mopDocument.unit.serial}}</td><td>{{mopDocument.get_clearance_display}}</td><td>{% if mopDocument.active %}<a href="{% url 'mop_control_randomize' mopDocument.id %}">randomize</a>{% endif %}</td></tr>
		{% endfor %}
		</table>
		<input class="button" type="submit" value="remove old documents" name="remove old documents" /><br/>
		<input class="button" type="submit" value="create daily documents" name="create daily documents" /><br/>
		<h1>MoPs</h1>
		<input class="button" type="submit" value="create basic trust instances" name="create basic trust instances" /><br/>
		<table>
		<tr><th>MoP</th><th>Clearance</th><th>TRUST</th><th>Total TRUST</th><th>New Deal</th><th>Mail-Trust</th><th>Mail-Errors</th><th>Active</th><th>ActiveActive</th><th>Reported<br/>Correct</th><th>Reported<br/>Incorrect</th><th>Revoked</th><th>Limbo</th><th>Hacked</th></tr>
		{% for mopTracker in mopTracker_list %}
			<tr style="text-align:center;color:{{mopTracker.get_clearance_display}}">
			<td>{{mopTracker.mop.user.username}}{% if mopTracker.mop.user.is_staff %} (staff){% endif %}</td>
			<td>{{mopTracker.get_clearance_display}}</td>
			<td>{{mopTracker.trust}}</td>
			<td>{{mopTracker.totalTrust}}</td>
			<td>{{mopTracker.newTrust}}</td>
			<td>{{mopTracker.mailTrust}}</td>
			<td>{{mopTracker.mailErrors}}</td>
			<td>{{mopTracker.activeDocs}}</td>
			<td>{{mopTracker.activeActiveDocs}}</td>
			<td>{{mopTracker.reportedCorrectDocs}}</td>
			<td>{{mopTracker.reportedIncorrectDocs}}</td>
			<td>{{mopTracker.revokedDocs}}</td>
			<td>{{mopTracker.limboDocs}}</td>
			<td>{{mopTracker.hackedDocs}}</td>
			</tr>
		{% endfor %}
		</table>
		<input class="button" type="submit" value="simulate performance" name="simulate performance" /><br/><br/>
		<input class="button" type="submit" value="process performance" name="process performance" /><br/>
		</form>
	</div>
</div>

