{% load staticfiles %}
<html>
<head>
<script src="{% static "cron/js/sorttable.js" %}"></script>

<style media="screen" type="text/css">
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
}

tr.research {
	background-color:LightGreen;
}

</style>
</head>
<body>
<table class="sortable">
<thead>
<tr>
	<th>Document</th>
	<th>Cron</th>
	<th>Solved</th>
	<th>Wrong</th>
	<th>Duration</th>
</tr>
</thead>
{% for cronDocumentInstance in cronDocumentInstance_list %}
	{% if cronDocumentInstance.cron.player %}
		<tr class="research">
	{% else %}
		<tr>
	{% endif %}
		<td>{{cronDocumentInstance.cronDocument.name}}</td>
		<td>{{cronDocumentInstance.cron.user.username}}</td>
		<td>{{cronDocumentInstance.solved}}</td>
		<td>{{cronDocumentInstance.failedAttempts}}</td>
		<td sorttable_customkey="{{cronDocumentInstance.seconds}}">{{cronDocumentInstance.duration}}</td>
	</tr>
{% endfor %}
</table>

</body>
</html>