{% load staticfiles %}
<html>
<head>
<script src="{% static "cron/js/sorttable.js" %}"></script>

<style media="screen" type="text/css">
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
}

tr.research {
	background-color:LightGreen;
}

</style>
</head>
<body>
<table class="sortable">
<thead>
<tr>
	<th>Id</th>
	<th>Type</th>
	<th>Document</th>
	<th>Template</th>
	<th>Clearance</th>
	<th>Inconsistencies</th>
	<th>Cron</th>
	<th>Mop</th>
	<th>Research</th>
	<th>Prov</th>
	<th>Duration</th>
	<th>Opened</th>
	<th>Submitted</th>
	<th>Modified</th>
	<th>Correct</th>
	<th>Provenance</th>
</tr>
</thead>
{% for mopDocumentInstance in mopDocumentInstance_list %}
	{% if mopDocumentInstance.mop.cron.player %}
		<tr class="research">
	{% else %}
		<tr>
	{% endif %}
		<td>mop-{{mopDocumentInstance.id|stringformat:"06d"}}</td>
		<td>mop</td>
		<td>{{mopDocumentInstance.randomizedDocument.serial}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.mopDocument.name}} ({{mopDocumentInstance.randomizedDocument.mopDocument.id}})</td>
		<td>{{mopDocumentInstance.randomizedDocument.mopDocument.get_clearance_display}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.provenance.incon}}</td>
		<td>{{mopDocumentInstance.mop.cron.user.username}}</td>
		<td>{{mopDocumentInstance.mop.user.username}}</td>
		<td>{% if mopDocumentInstance.mop.cron.player %}True{% else %}False{% endif %}</td>
		<td>{% if mopDocumentInstance.randomizedDocument.provenance.store_id %}<a href="{% url 'provmanager_view' mopDocumentInstance.randomizedDocument.provenance.id %}">prov</a>{% endif %}</td>
		<td sorttable_customkey="{{mopDocumentInstance.seconds}}">{{mopDocumentInstance.duration}}</td>
		<td>{{mopDocumentInstance.firstOpen.createdAt|date:"Y-m-d H:i:s"}}</td>
		<td>{{mopDocumentInstance.lastSubmit.createdAt|date:"Y-m-d H:i:s"}}</td>
		<td>{{mopDocumentInstance.modified}}</td>
		<td>{{mopDocumentInstance.correct}}</td>
		<td>{{mopDocumentInstance.provenanceState}}</td>
	</tr>
{% endfor %}
</table>

</body>
</html>