{% load staticfiles %}

<head>
<script type="text/javascript">
function set_sandy() {
	document.getElementById("id_unit").value = 10;
	document.getElementById("id_subject").value = 214;
	document.getElementById("id_body").value += "\n\n\{\% include \'mop\/mail\/sig_sandy.txt\' \%\}";
	alert('Set unit to MOPCOR\nSet Subject to "Help"\nAdded Sandy\'s signature')
}
function set_mopain() {
	document.getElementById("id_unit").value = 14;
	document.getElementById("id_subject").value = 212;
	document.getElementById("id_body").value += "\n\n\{\% include \'mop\/mail\/sig_christopher.txt\' \%\}";
	alert('Set unit to MOPAIN\nSet Subject to "Information"\nAdded Christopher\'s signature')
}
function set_it() {
	document.getElementById("id_unit").value = 8;
	document.getElementById("id_subject").value = 212;
	document.getElementById("id_body").value += "\n\n\{\% include \'mop\/mail\/sig_geoffrey.txt\' \%\}";
	alert('Set unit to MOPADM\nSet Subject to "Information"\nAdded Geoffrey\'s signature')
}
function set_it() {
	document.getElementById("id_unit").value = 8;
	document.getElementById("id_subject").value = 212;
	document.getElementById("id_body").value += "\n\n\{\% include \'mop\/mail\/sig_cassandra.txt\' \%\}";
	alert('Set unit to MOPADM\nSet Subject to "Information"\nAdded Cassandra\'s signature')
}
</script>
</head>

{% if mail %}
	{% include 'mop/mail_view.html' %}
{% endif %}
<div style="clear:left;"></div>

<div class="wrapper">
	<div class="main">
		<div class="content">
<h1>MoP Mail Centre</h1>
<a href="{% url 'mop_control_mail_outstanding' %}">view outstanding mopmail</a><br/>
{% if form %}
	<form action="{% url 'mop_control_mail' %}" method="post">{% csrf_token %}
	<p>Personal data: {% verbatim %}{{mop.firstname}}, {{mop.lastname}}, {{mop.dob}}, ...{% endverbatim %}</p>
	<p>Signatures:<br/>
	{% verbatim %} {% include 'mop/mail/sig_sandy.txt' %}{% endverbatim %}<br/>
	{% verbatim %}{% include 'mop/mail/sig_christopher.txt' %}{% endverbatim %}<br/>
	{% verbatim %}{% include 'mop/mail/sig_geoffrey.txt' %}{% endverbatim %}<br/>
	{% verbatim %}{% include 'mop/mail/sig_cassandra.txt' %}{% endverbatim %}
	<table>
	{{form.as_table}}
	</table>
	<span style="color:blue;text-decoration:underline;" onclick='set_sandy()'>I am Sandy.</span><br/>
	<span style="color:blue;text-decoration:underline;" onclick='set_mopain()'>I am that guy from MOPAIN.</span><br/>
	<span style="color:blue;text-decoration:underline;" onclick='set_it()'>I am that guy from IT.</span><br/>
	<span style="color:blue;text-decoration:underline;" onclick='set_it()'>I am that girl from the Special Request Department.</span><br/><br/>
	<input class="button" type="submit" value="preview mail" name="preview" /><br/>
	{% if mail %}
		<input class="button" type="submit" value="send mail" name="send" /><br/>
		{% if nospam %}
			<br/><br/><strong style="color:red">NO SPAM SENT</strong><br/><br/><br/>
		{% endif %}
		<input class="button" type="submit" value="send to everyone" name="bulk" /><br/><br/><br/><br/><br/><br/> <input type="checkbox" name="spam" >Yes, I really want to SPAM everyone!<br>
	{% endif %}
{% else %}
	{% if mop_list %}
		<strong>bulk email sent to <ul>{% for mop in mop_list %}<li>{{mop.user.username}}</li>{% endfor %}</ul></strong>
	{% else %}
		<strong>mail sent to {{mail.mop.user.username}}!</strong>
	{% endif %}
{% endif %}
</form>
</div>
</div>
</div>





