{% extends 'mop/base.html' %}

{% block content %}

<h1>Document Pool</h1>
<p>Shortcut: <a href="{% url 'mop_forms_blank' %}">blank forms</a></p>
{% if randomizedDocument_list %}
	<table>
	<tr><th>Unit</th><th>Name</th><th>Identification Code</th><th>Level</th><th>Published</th></tr>
	{% for randomizedDocument in randomizedDocument_list %}
		{% if randomizedDocument.exists %}
		{% else %}
			<tr>
			<td>{{randomizedDocument.mopDocument.unit.serial}}</td>
			<td>{{randomizedDocument.mopDocument.name}}</td>
			<td>{{randomizedDocument.serial}}</td>
			<td><img class="minibadge" src="{{randomizedDocument.getBadgeUrl}}"/></td>
			<td>{{randomizedDocument.createdAt|date:"Y-m-d"}}</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
{% else %}
No documents available.
{% endif %}

{% endblock %}

{% block help %}
<p>
The Ministry of Provenance ORCHID scheme is based on an open document pool system. Here you can see all the documents that are accessible to you (based on your current clearance level) and which need processing. In order to reqest permission to work on one of these documents you need the appropriate form and use the document's ID.</p>
<p>
Friendly advice: Gain more TRUST to gain access to more documents!
</p>
{% endblock %}
