{% extends 'mop/base.html' %}

{% block content %}

<h1>Document Pool</h1>
<p>Shortcut: <a href="{% url 'mop_forms_blank' %}">blank forms</a></p>
{% if randomizedDocument_list %}
	{% if randomizedDocument_list.has_previous or randomizedDocument_list.has_next %}
		{% for num in randomizedDocument_list.paginator.page_range %}
		  {% ifequal num randomizedDocument_list.number %}
		    <span style="padding-left:5px;padding-right:5px;"><strong>{{ num }}</strong></span>
		  {% else %}
		    <a href="?page={{ num }}"> {{ num }}</a>
		  {% endifequal %} 
		{% endfor %}
	{% endif %}
	<table>
	<tr><th class="nobox"></th><th>Unit</th><th>Name</th><th>Identification Code</th><th>Level</th><th>Published</th></tr>
	{% for randomizedDocument in randomizedDocument_list %}
		{% if randomizedDocument.exists %}
		{% else %}
			<tr>
			{% if randomizedDocument.requiredRequisition %}
				<td class="nobox" style="text-align:center;"><a href="{% url 'mop_forms_fill' randomizedDocument.requiredRequisition.requisition.serial randomizedDocument.serial %}">request</a></td>
			{% else %}
				<td class="nobox" style="text-align:center;">form missing</td>
			{% endif %}
			<td>{{randomizedDocument.mopDocument.unit.serial}}</td>
			<td style="white-space:nowrap;">
				{% if request.user.mop.mopTracker.clearance >= randomizedDocument.mopDocument.clearance %}
					{{randomizedDocument.mopDocument.name}}
				{% else %}
					********
				{% endif %}
			</td>
			<td style="white-space:nowrap;">{{randomizedDocument.serial}}</td>
			<td><img class="minibadge" src="{{randomizedDocument.getBadgeUrl}}"/></td>
			<td style="white-space:nowrap;">{{randomizedDocument.createdAt|date:"Y-m-d"}}</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
{% else %}
No documents available.
{% endif %}

{% endblock %}

{% block help %}
<p>
The Ministry of Provenance ORCHID scheme is based on an open document pool system. Here you can see all the documents that are accessible to you (based on your current clearance level) and which need processing. In order to reqest permission to work on one of these documents you need the appropriate form and use the document's ID.</p>
<p>
Friendly advice: Gain more TRUST to gain access to more documents!
</p>
{% endblock %}
