{% extends 'mop/base.html' %}
{% load humanize %}
{% block content %}

<h1>Document Drawer</h1>
<p>Shortcut: <a href="{% url 'mop_forms_blank' %}">blank forms</a></p>
{% if mopDocumentInstance_list %}
	{% if mopDocumentInstance_list.has_previous or mopDocumentInstance_list.has_next %}
		{% for num in mopDocumentInstance_list.paginator.page_range %}
		  {% ifequal num mopDocumentInstance_list.number %}
		    <span style="padding-left:5px;padding-right:5px;"><strong>{{ num }}</strong></span>
		  {% else %}
		    <a href="?page={{ num }}"> {{ num }}</a>
		  {% endifequal %} 
		{% endfor %}
	{% endif %}
	<table>
	<tr><th>Submit</th><th>Process</th><th>Unit</th><th>Name</th><th>Identification Code</th><th>Level</th>{% if user.mop.mopTracker.tutorial == user.mop.mopTracker.TUTORIAL_6_DONE %}<th>Due</th>{% endif %}</tr>
	{% for mopDocumentInstance in mopDocumentInstance_list %}
		{% if mopDocumentInstance.randomizedDocument.hasTimeLeft or mopDocumentInstance.cronDocument %}
			<tr>
			{% if request.user.mop.mopTracker.clearance < mopDocumentInstance.getClearance %}
					<td class="nobox" style="text-align:center;" colspan=2>insufficient clearance</td>
			{% elif mopDocumentInstance.modified %}
				{% if mopDocumentInstance.requiredRequisition and mopDocumentInstance.modified %}
					<td class="nobox" style="text-align:center;"><a href="{% url 'mop_forms_fill' mopDocumentInstance.requiredRequisition.requisition.serial mopDocumentInstance.getDocumentSerial %}">submit</a></td>
					<td class="nobox" style="text-align:center;"><a href="{% url 'mop_provenance' mopDocumentInstance.getDocumentSerial %}">review</a></td>
				{% else %}
					<td class="nobox" style="text-align:center;">form missing</td>
					<td class="nobox" style="text-align:center;"><a href="{% url 'mop_provenance' mopDocumentInstance.getDocumentSerial %}">review</a></td>
				{% endif %}
			{% else %}
				<td class="nobox" style="text-align:center">N/A</td>
				<td class="nobox"><a href="{% url 'mop_provenance' mopDocumentInstance.getDocumentSerial %}">process</a></td>
			{% endif %}
			<td>{{mopDocumentInstance.randomizedDocument.mopDocument.unit.serial}}{{mopDocumentInstance.cronDocument.unit.serial}}</td>
			
			{% if request.user.mop.mopTracker.clearance >= mopDocumentInstance.getClearance %}
				<td style="white-space:nowrap;">{{mopDocumentInstance.randomizedDocument.mopDocument.name}}{{mopDocumentInstance.cronDocument.name}}</td>
			{% else %}
				<td style="text-align:center">********</td>
			{% endif %}
			<td style="white-space:nowrap;">{{mopDocumentInstance.randomizedDocument.serial}}{{mopDocumentInstance.cronDocument.serial}}</td>
			<td><img class="minibadge" src="{{mopDocumentInstance.randomizedDocument.getBadgeUrl}}{{mopDocumentInstance.cronDocument.getBadgeUrl}}"/></td>
			<td style="text-align:center">{% if mopDocumentInstance.randomizedDocument.dueAt %}{{mopDocumentInstance.randomizedDocument.dueAt|naturaltime}}{% elif mopDocumentInstance.cronDocument %}N/A{% else %}N/A{% endif %}</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
{% else %}
No documents available.
{% endif %}

{% endblock %}

{% block help %}
<p>
These are the documents that have been assigned to you to work on. Be aware that the Ministry rewards correct work above all, so please only submit a document when you are certain of the accuracy of your inspection. Also remember that at the end of a performance period all unsubmitted documents will generate negative TRUST for you!
</p>
{% endblock %}

