{% extends 'mop/base.html' %}

{% block content %}

<h1>Documents</h1>
{% if documentInstance_list %}
	<table>
	<tr><th>Unit</th><th>Name</th><th>Identification Code</th><th>state</th></tr>
	{% for documentInstance in documentInstance_list %}
		<tr>
		<td>{{documentInstance.document.unit.serial}}</td>
		<td>{{documentInstance.document.name}}</td>
		<td>{{documentInstance.document.serial}}</td>
		<td>{% if documentInstance.modified %}modified{% else %}-{% endif %} (debug info:{{documentInstance.correct}})</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
No documents available.
{% endif %}

{% endblock %}

{% block help %}
<p>
These are the documents currently available for you to view.
</p>
{% endblock %}

