{% extends 'mop/base.html' %}

{% block content %}

<h1>Document Archive</h1>
{% if mopDocumentInstance_list %}
	<table>
	<tr><th class="nobox"></th><th>Status</th><th>Unit</th><th>Identification Code</th><th>Level</th><th>Assigned</th></tr>
	{% for mopDocumentInstance in mopDocumentInstance_list %}
		<tr>
		<td class="nobox"><a href="{% url 'mop_provenance' mopDocumentInstance.getDocumentSerial %}">view</a></td>
		<td>{{mopDocumentInstance.modified|yesno:'please submit, needs processing'}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.mopDocument.unit.serial}}{{mopDocumentInstance.cronDocument.unit.serial}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.serial}}{{mopDocumentInstance.cronDocument.serial}}</td>
		<td><img class="minibadge" src="{{mopDocumentInstance.randomizedDocument.getBadgeUrl}}{{mopDocumentInstance.cronDocument.getBadgeUrl}}"/></td>
		<td>{{mopDocumentInstance.createdAt}}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
No documents available.
{% endif %}

{% endblock %}

{% block help %}
<p>
These are the documents currently available for you to view.
</p>
{% endblock %}

