{% extends 'mop/base.html' %}

{% block content %}

<h1>Document Archive</h1>
{% if mopDocumentInstance_list %}
	<table>
	<tr><th class="nobox"></th><th>TRUST</th><th>Unit</th><th>Name</th><th>Identification Code</th><th>Level</th><th>Closed</th></tr>
	{% for mopDocumentInstance in mopDocumentInstance_list %}
		<tr>
		<td class="nobox"><a href="{% url 'mop_provenance' mopDocumentInstance.getDocumentSerial %}">view</a></td>
		<td>{{mopDocumentInstance.getTrustFinal}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.mopDocument.unit.serial}}{{mopDocumentInstance.cronDocument.unit.serial}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.mopDocument.name}}{{mopDocumentInstance.cronDocument.name}}</td>
		<td>{{mopDocumentInstance.randomizedDocument.serial}}{{mopDocumentInstance.cronDocument.serial}}</td>
		<td><img class="minibadge" src="{{mopDocumentInstance.randomizedDocument.getBadgeUrl}}{{mopDocumentInstance.cronDocument.getBadgeUrl}}"/></td>
		<td>{{mopDocumentInstance.modifiedAt|date:"Y-m-d H:i"}}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
No documents archived.
{% endif %}

{% endblock %}

{% block help %}
<p>
You have the opportunity to review all documents that you have worked on. Please do this to learn from your mistakes.
</p>
{% endblock %}

