{% extends 'mop/base.html' %}

{% block content %}

<h1>Available Files</h1>
{% if file_list %}
	<table>
	<tr><th class="nobox"></th><th>File</th><th>Name</th></tr>
	{% for file in file_list %}
		{% if file.accessible %}
			<tr><td class="nobox"><a href="{% url 'mop_file_view' file.serial %}">view</a></td><td>{{file.serial}}</td><td>{{file.filename}}</td></tr>
		{% endif %}
	{% endfor %}
	</table>
{% else %}
You do not have access to any files.
{% endif %}

<h1>File Upload</h1>
{% if user.mop.mopTracker.fileUploadAllowed %}
	{% if upload %}
		<p>Your file has been uploaded.</p>
	{% else %}
		<form action="{% url 'mop_files' %}" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <p>{{ form.non_field_errors }}</p>
		    <p>{{ form.data.label_tag }} ({{ form.data.help_text }})</p>
		    <p>
		        {{ form.data.errors }}
		        {{ form.data }} <strong id='toobig' style="color:red;visibility:hidden;">Your file is bigger than 2MB. Please select a smaller file.</strong>
		    </p>
		    <p><input id='submit' type="submit" value="Upload" style="visibility:hidden;" /></p>
		    <script type="text/javascript">
		        $('#id_data').bind('change', function() {
		            fileInMB = this.files[0].size/1024/1024;
		            if (fileInMB > 2) {
		            	$('#submit').css("visibility", "hidden");
		            	$('#toobig').css("visibility", "visible");
		            }
		            else {
		            	$('#submit').css("visibility", "visible");
		            	$('#toobig').css("visibility", "hidden");
		            };

		        });
			</script>
		</form>
	{% endif %}
{% else %}
	<p>You do not possess the necessary rights to perform file uploads. Please contact your designated MOPCOR supervisor if you think you need to be able to upload files.</p>
{% endif %}

{% endblock %}



{% block help %}
<p>
This page displays all files you have access to. It is also possible to upload files to the central server, but please only do so when prompted by your superiors.
</p>
{% endblock %}