{% extends 'mop/base.html' %}

{% block content %}

<table>
	<tr><th class="nobox"></th><th>File</th><th>Name</th></tr>
	<tr><td class="nobox"><a href="{{ MEDIA_URL }}{{file.data}}">download</a></td><td>{{file.serial}}</td><td>{{file.filename}}</td></tr>
</table>
<p>
<embed src="{{ MEDIA_URL }}{{file.data}}" width="100%" height="640" type='application/pdf'/>
</p>

{% endblock %}

{% block help %}
<p>
Displaying your selected file conveniently inside the browser. Important: Due to security reasons, never download a file to your private machine when remotely accessing the MoP Intranet.
</p>
{% endblock %}