{% extends 'mop/base.html' %}

{% block content %}
<h1>Filling in Form</h1>
<p>Shortcuts: <a href="{% url 'mop_documents_pool' %}">document pool</a> <a href="{% url 'mop_documents' %}">document drawer</a></p>
<form method="post" action="">
{% csrf_token %}
<table>
<tr><th>Form</th><td>{{reqBlank.requisition.name}}</td></tr>
<tr><th>Serial</th><td>{{reqBlank.requisition.serial}}</td></tr>
<tr><th>Type</th><td>{{reqBlank.requisition.get_category_display}}</td></tr>
<tr><th>Issuing Unit (name)</th><td>{{reqBlank.requisition.unit.serial}}</td></tr>
<tr><th>Issuing Unit (identifier)</th><td>{{reqBlank.requisition.unit.name}}</td></tr>
<tr><th>Instructions</th><td>
	{% if reqBlank.requisition.category == reqBlank.requisition.CATEGORY_HELP %}
		You can use this form to ask the {{reqBlank.requisition.unit.name}} for help if you have any problems at all. Don't hesitate, it does not cost any TRUST!<br/>
		Just write what is worrying you, and send it to the {{reqBlank.requisition.unit.name}} ({{reqBlank.requisition.unit.serial}}) and they will get back to you as soon as possible!
	{% else %}
		Please enter the identification code of the 
		{% if reqBlank.requisition.category == reqBlank.requisition.CATEGORY_FORM %}<b>form</b> you want to request
		{% elif reqBlank.requisition.category == reqBlank.requisition.CATEGORY_DOCUMENT %}<b>document</b> you want to request
		{% elif reqBlank.requisition.category == reqBlank.requisition.CATEGORY_SUBMISSION %}<b>document</b> you are submitting
		{% endif %}
		 and then send the form to the {{reqBlank.requisition.unit.name}} ({{reqBlank.requisition.unit.serial}})<br>
	{% endif %}
</td></tr>
<tr><th>
	{% if reqBlank.requisition.category == reqBlank.requisition.CATEGORY_HELP %}
		Your message
	{% else %}
		{% if reqBlank.requisition.category == reqBlank.requisition.CATEGORY_FORM %}
			Identifier of Form you want to request
		{% elif reqBlank.requisition.category == reqBlank.requisition.CATEGORY_DOCUMENT %}
			Identifier of Document you want to request
		{% elif reqBlank.requisition.category == reqBlank.requisition.CATEGORY_SUBMISSION %}
			Identifier of Document you want to submit
		{% endif %}
	{% endif %}
</th><td>
	{% if reqBlank.requisition.category == reqBlank.requisition.CATEGORY_HELP %}
		<textarea cols="80" id="id_{{form.data.name}}" name="{{form.data.name}}" rows="10"></textarea>
	{% else %}
		<input type="text" id="id_{{form.data.name}}" name="{{form.data.name}} size="16" />
	{% endif %}
</td></tr>
<tr><th>Citizen Helper (name)</th><td>{{user.mop.firstname}} {{user.mop.lastname}}</td></tr>
<tr><th>Citizen Helper (identifier)</th><td>{{user.mop.serial}}</td></tr>
</table>

	<br/>
	<input class="button" type="submit" value="Sign form" />	
</form>

{% endblock %}

{% block help %}
<p>
Enter the data for this form, and then click "Sign Form" to attach your Digital MoP FingerPrint to the form. 
</p>
<p>
If you are unsure what "data" to enter, check the relevant reference page: 
</p>
<ul>
<li>if you are requesting a form, check the <a href="{% url 'mop_rules' %}">Guidebook</a> for the list of Form IDs.</li>
<li>if you are requesting a document, find the necessary document ID in the <a href="{% url 'mop_documents_pool' %}">Document Pool</a> page.
<li>if you are submitting a report, find the necessary document ID in the <a href="{% url 'mop_documents' %}">Document Drawer</a> page.
</ul>
{% endblock %}