{% extends 'mop/base.html' %}

{% block content %}

<h1>Blank Forms</h1>
{% if blank_list %}
<table>
<tr><th class="nobox"></th><th>Responsible Unit</th><th>Form</th><th>Usage</th></tr>
{% for blank in blank_list %}
	<tr><td class="nobox"><a href="{% url 'mop_forms_fill' blank.id %}">fill in</a></td><td>{{blank.requisition.unit.serial}}</td><td>{{blank.requisition.serial}}</td><td>{{blank.requisition.get_category_display}}</td></tr>
{% endfor %}
</table>
{% else %}
No blank forms available.
{% endif %}

{% endblock %}

{% block help %}
<p>
There's no inFORMation without a form!
</p>
<p>If you can't find the blank form you need, perhaps you need to request it from MOPAD via the apropriate form to request new forms. Check the <a href="{% url 'mop_rules' %}">Guidebook</a> for more information.
</p>
{% endblock %}