{% extends 'mop/base.html' %}

{% block content %}

<h1>Signed Forms</h1>
{% if requisitionInstance_list %}
<table>
<tr><th class="nobox"></th><th>Responsible Unit</th><th>Form</th><th>Data</th><th>Timestamp</th></tr>
{% for reqInstance in requisitionInstance_list %}
	<tr><td class="nobox"><a href="{% url 'mop_mail_compose' reqInstance.fullSerial %}">mail</a></td><td>{{reqInstance.blank.requisition.unit.serial}}</td><td>{{reqInstance.fullSerial}}</td><td>{{reqInstance.data}}</td><td>{{reqInstance.modifiedAt}}</td></tr>
{% endfor %}
</table>
{% else %}
No signed forms.
{% endif %}

{% endblock %}

{% block help %}
<p>
This is where all your signed forms are stored. Attach these forms to your outgoing mail.
</p>
<p>If you want to fill in a new form, you must go to the <a href="{% url 'mop_forms_blank' %}">Blank Forms</a> page.</p>
{% endblock %}
