{% extends 'mop/base.html' %}

{% block content %}
<h1>{{reqBlank.requisition.name}}</h1>
<p>Shortcuts: <a href="{% url 'mop_documents_pool' %}">document pool</a> <a href="{% url 'mop_documents' %}">document drawer</a></p>
Please enter the identification code of the 
{% if reqBlank.requisition.category == 0 %}<b>form</b> you want to request
{% elif reqBlank.requisition.category == 2 %}<b>document</b> you want to request
{% elif reqBlank.requisition.category == 3 %}<b>document</b> you are submitting
{% endif %}
 and then send the form to the {{reqBlank.requisition.unit.name}}.<br>
<form method="post" action="">
	{% csrf_token %}
	{{ form.as_p}}
	
	<input class="button" type="submit" value="Sign form" />	
</form>

{% endblock %}

{% block help %}
<p>
Enter the data for this form, and then click "Sign Form" to attach your Digital MoP FingerPrint to the form. 
</p>
<p>
If you are unsure what "data" to enter, check the relevant reference page: 
</p>
<ul>
<li>if you are requesting a form, check the <a href="{% url 'mop_rules' %}">Guidebook</a> for the list of Form IDs.</li>
<li>if you are requesting a document, find the necessary document ID in the <a href="{% url 'mop_documents_pool' %}">Document Pool</a> page.
<li>if you are submitting a report, find the necessary document ID in the <a href="{% url 'mop_documents' %}">Document Drawer</a> page.
</ul>
{% endblock %}