{% extends 'mop/base.html' %}

{% block content %}

<h1>Archived Forms</h1>
{% if requisitionInstance_list %}
	{% if requisitionInstance_list.has_previous or requisitionInstance_list.has_next %}
		{% for num in requisitionInstance_list.paginator.page_range %}
		  {% ifequal num requisitionInstance_list.number %}
		    <span style="padding-left:5px;padding-right:5px;"><strong>{{ num }}</strong></span>
		  {% else %}
		    <a href="?page={{ num }}"> {{ num }}</a>
		  {% endifequal %} 
		{% endfor %}
	{% endif %}
<table>
<tr><th>Form</th><th>Unit</th><th>Identifier</th><th>Content</th><th>Timestamp</th></tr>
{% for reqInstance in requisitionInstance_list %}
	<tr {% if reqInstance.trashed %}class="trashed"{% endif %}>
	<td>{{reqInstance.blank.requisition.name}}</td>
	<td>{{reqInstance.blank.requisition.unit.serial}}</td>
	<td>{{reqInstance.fullSerial}}</td>
	<td>{{reqInstance.data}}</td>
	<td>{{reqInstance.modifiedAt|date:"Y-m-d H:i"}}</td></tr>
{% endfor %}
</table>
{% else %}
No archived forms.
{% endif %}

{% endblock %}

{% block help %}
<p>Here a copy of all forms that you have signed is stored.</p>
<p>Forms you have trashed are crossed out. You have used the other ones in your communication with the various units of the Ministry of Provenance.</p>
<p>If you want to fill in a new form, you must go to the <a href="{% url 'mop_forms_blank' %}">Blank Forms</a> page.</p>
{% endblock %}
