{% extends 'mop/base.html' %}

{% block content %}

<h1>Where do you want to go today?</h1>

<p class="nav">
	<a class="button" href="{% url 'mop_rules' %}"><input class="button" type="submit" value="guidebook" /></a>
	<a class="button" href="{% url 'mop_performance' %}"><input class="button" type="submit" value="performance" /></a>
</p>
<p class="nav">
	<a class="button" href="{% url 'mop_mail_compose' %}"><input class="button" type="submit" value="compose" /></a>
	<a class="button" href="{% url 'mop_mail_inbox' %}"><input id="inbox" class="button" type="submit" value="inbox ({{ inbox_unread }})" /></a>
	<a class="button" href="{% url 'mop_mail_outbox' %}"><input class="button" type="submit" value="outbox ({{ outbox_unread }})" /></a>
	<a class="button" href="{% url 'mop_mail_draft' %}"><input class="button" type="submit" value="drafts ({{ draft_unread }})" /></a>
	<a class="button" href="{% url 'mop_mail_trash' %}"><input class="button" type="submit" value="trash ({{ trash_unread }})" /></a>
</p>
<p class="nav">
	<a class="button" href="{% url 'mop_forms_blank' %}"><input class="button" type="submit" value="blank forms" /></a>
	<a class="button" href="{% url 'mop_forms_signed' %}"><input class="button" type="submit" value="signed forms" /></a>
	<a class="button" href="{% url 'mop_forms_archive' %}"><input class="button" type="submit" value="form archive" /></a>
</p>
<p class="nav">
	<a class="button" href="{% url 'mop_documents_pool' %}"><input class="button" type="submit" value="document pool" /></a>
	<a class="button" href="{% url 'mop_documents' %}"><input class="button" type="submit" value="document drawer" /></a>
	<a class="button" href="{% url 'mop_documents_archive' %}"><input class="button" type="submit" value="document archive" /></a>
</p>


{% endblock %}


{% block help %}
<p>
This is the control centre of the Ministry of Provenance intranet. Please select where you want to go next.
</p>
<p>
You can send and receive messages, fill in forms, request and complete tasks, and work with documents.
You can also (and should!) read the <a href="{% url 'mop_rules' %}">Guidebook</a>.
</p>
{% endblock %}