{% extends 'mop/base.html' %}

{% block content %}

<h1>Outbox</h1>
{% if mail_list %}
<table>
<tr><th class="nobox"></th><th>Subject</th><th>To</th><th>Date</th><th class="nobox"></th></tr>
{% for mail in mail_list %}
	<tr {% if not mail.read %} style="font-weight:bold" {% endif %}>
	<td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_view' mail.serial %}">view</a></td>
	<td>{{ mail.get_subject_display }}</td><td>{{ mail.unit.name }}</td>
	<td>{{ mail.sentAt|date:"Y-m-d H:i" }}</td>
	<td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_trashing' mail.serial %}">trash</a></td></tr>
{% endfor %}
</table>
{% else %}
No messages in your outbox.
{% endif %}
{% endblock %}

{% block help %}
<p>
This is your outbox. All messages you have sent are stored here.
</p>
{% endblock %}
