{% extends 'mop/base.html' %}

{% block content %}

<h1>Trash</h1>
{% if mail_list %}
<table>
<tr><th class="nobox"></th><th>Subject</th><th>From/To</th><th>Date</th><th class="nobox"></th></tr>
{% for mail in mail_list %}
	<tr {% if not mail.read %} style="font-weight:bold" {% endif %}>
	<td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_view' mail.id %}">view</a></td>
	<td>{{ mail.get_subject_display }}</td>
	<td>{% if mail.unit %}{{ mail.unit.name }}{% else %}MAILER.DAEMON{% endif %}</td>
	<td>{% if mail.type == mail.TYPE_DRAFT %}
			{{ mail.modifiedAt|date:"Y-m-d H:i" }}
		{% else %}
			{{ mail.sentAt|date:"Y-m-d H:i" }}
		{% endif %}
	</td>
	<td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_untrashing' mail.id %}">untrash</a></td>
	</tr>
{% endfor %}
</table>
{% else %}
No messages in your trash.
{% endif %}

{% endblock %}

{% block help %}
<p>
This is your trash. All messages you have deleted will remain here.
</p>
{% endblock %}

