{% extends 'mop/base.html' %}

{% block content %}

<table>
<tr><th>Subject</th><td>{{ mail.get_subject_display }}</td></tr>
<tr><th>Unit</th><td>{{ mail.unit.name }}</td></tr>
<tr><th>Timestamp</th><td>{{ mail.date }}</td></tr>
<tr><th>Message</th><td>{{ mail.body }}</td></tr>
<tr><th>Form</th><td>{{ mail.requisitionInstance.blank.requisition.unit.serial}}</td></tr>
<tr><th>Document</th><td>{{ mail.documentInstance.document.serial}}</td></tr>
</table>
{% endblock %}

{% block help %}
<p>
</p>
{% endblock %}