{% extends 'mop/base.html' %}

{% block content %}

<h1>Drafts</h1>
{% if mail_list %}
<table>
<tr><th class="nobox"></th><th>Subject</th><th>To</th><th>Date</th><th class="nobox"></th></tr>
{% for mail in mail_list %}
	<tr {% if not mail.read %} style="font-weight:bold" {% endif %}><td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_edit' mail.id %}">edit</a></td><td>{{ mail.get_subject_display }}</td><td>{{ mail.unit.name }}</td><td>{{ mail.createdAt }}</td><td class="nobox"><a style="font-weight:normal" href="{% url 'mop_mail_trashing' mail.id %}">trash</a></td></tr>
{% endfor %}
</table>
{% else %}
No messages in your draft folder.
{% endif %}

{% endblock %}

{% block help %}
<p>
This is your saved drafts folder. Messages in this folder have not been sent yet.
</p>
{% endblock %}

