{% extends 'mop/base.html' %}

{% block content %}
<p>Shortcut:
{% if mail.type == mail.TYPE_RECEIVED and mail.state == mail.STATE_NORMAL %}
<a href="{% url 'mop_mail_inbox' %}">inbox</a>
{% elif mail.type == mail.TYPE_SENT and mail.state == mail.STATE_NORMAL %}
<a href="{% url 'mop_mail_outbox' %}">outbox</a>
{% elif mail.state == mail.STATE_TRASHED %}
<a href="{% url 'mop_mail_trash' %}">trash</a>
{% endif %}
<table>
<tr><th>Subject</th><td>{{ mail.get_subject_display }}</td></tr>
<tr><th>Unit</th><td>{% if mail.unit %}{{ mail.unit.name }}{% else %}MAILER.DEMON{% endif %}</td></tr>
<tr><th>Timestamp</th><td>{% if mail.type == mail.TYPE_DRAFT %}
			{{ mail.modifiedAt|date:"Y-m-d H:i" }}
		{% else %}
			{{ mail.sentAt|date:"Y-m-d H:i" }}
		{% endif %}</td></tr>
{% if mail.bodyType %}
	<tr><th>Message</th><td>{% if mail.id >= 29045 and mail.id <= 29168 %}<strong style="color:red;"><br/>The content of this message has been deleted by MOPAIN.<br/><br/></strong>{% else %}{% include 'mop/mail/mail.html' %}{% endif %}</td></tr>
{% endif %}
<tr><th>TRUST</th><td>{% if mail.trust and not mail.bodyType == mail.BODY_ASSIGNING_DOCUMENT %}{% if mail.trust > 0 %}+{% endif %}{{mail.trust}}{% else %}none{% endif %}</td></tr>
<tr><th>Credits</th><td>{% if mail.trust %}{% if mail.trust > 0 %}+{% endif %}{{mail.trust}}{% else %}none{% endif %}</td></tr>
<tr><th>Form</th><td>{% if mail.requisitionInstance.blank %}{{ mail.requisitionInstance.blank.requisition.serial}}{% elif mail.requisitionBlank %}{{mail.requisitionBlank.requisition.serial}}{% else %} no form attached{% endif %}</td></tr>
<tr><th>Document</th><td>{% if mail.mopDocumentInstance and not mail.body = Mail.BODY_REVOKING_DOCUMENT %}{{ mail.mopDocumentInstance.getDocumentSerial}}{% else %}no document attached{% endif %}</td></tr>
</table>
{% endblock %}
{% block help %}
<p>
Here you can view the content of each mail. In case your TRUST has been modified as a result of this mail, it is also shown here.
</p>
{% endblock %}