{% extends 'mop/base.html' %}
{% load static %}
{% block head %}

{% endblock %}


{% block content %}

<h2>Compose Message:</h2>
<form action="{% if not mail %}{% url 'mop_mail_compose' %}{% else %}{% url 'mop_mail_edit' mail.id %}{% endif %}" method="post">{% csrf_token %}
<table>
<tr><th>Receiving Unit</th><td>{{form.unit}}</td></tr>
<tr><th>Subject</th><td>{{form.subject}}</td></tr>
<tr><th>Attach signed Form</th><td>{{form.requisitionInstance}}</td><td>A signed form is always required.</td></tr>
<tr id="attach_document"><th>Attach Document</th><td>{{form.mopDocumentInstance}}</td><td>Only attach a document when submitting a report.</td></tr>
</table>
<input class="button" type="submit" value="send message" name="send" />&nbsp;&nbsp;&nbsp;&nbsp;<input class="button" type="submit" value="save as draft" name="draft" />
</form>

{% endblock %}

{% block help %}
<p>You can communicate with the different MoP Units via this mail interface. Use it to request forms, tasks or documents and to submit completed tasks.
</p>
<p>You must always attach a correctly filled and signed form with any message otherwise the relevant MoP unit will not be able to process it. If you have finished a task, you also need to send the the necessary document along with the correctly filled form.
</p><p>
If you haven't done so already, click <a href="{% url 'mop_forms_blank' %}">here</a> to fill and sign the appropriate form.
</p><p>
You can always save your message as draft and edit it later.
</p>
<p>Do NOT use the MoP main server for personal communication!</p>

{% endblock %}