{% extends 'mop/base.html' %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
	$(function() {
		$( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear:true, yearRange: "-100:+0" });
	});
</script>

{% if correct %}
<h1>Password Reset Successful</h1>
<p>Citizen Helper {{mop.firstname}} {{mop.lastname}}, your password was changed. Continue to <a href="{% url 'mop_index' %}">intranet login</a>.</p>
{% else %}
<h1>Password Reset</h1>
<form action="{% url 'mop_password' %}" method="post">{% csrf_token %}
<p> Enter the following information from your personal file to reset your password.</p>
<table>
<tr><th>Citizen Helper Identifier</th><td>{{pass_form.serial}}</td><td style="font-weight:bold;color:red" {% if not pass_form.serial.errors %}class="nobox"{% endif %}>{{pass_form.serial.errors|striptags}}</td></tr>
<tr><th>First Name</th><td>{{mop_form.firstname}}</td><td style="font-weight:bold;color:red" {% if not mop_form.firstname.errors and not wrong.firstname %}class="nobox"{% endif %}>{{mop_form.firstname.errors|striptags}}{% if wrong.firstname %}Input does not match records.{% endif %}</td></tr>
<tr><th>Last Name</th><td>{{mop_form.lastname}}</td><td style="font-weight:bold;color:red" {% if not mop_form.lastname.errors and not wrong.lastname %}class="nobox"{% endif %}>{{mop_form.lastname.errors|striptags}}{% if wrong.lastname %}Input does not match records.{% endif %}</td></tr>
<tr><th>Date of Birth</th><td>{{mop_form.dob}}</td><td style="font-weight:bold;color:red" {% if not mop_form.dob.errors and not wrong.dob %}class="nobox"{% endif %}>{{mop_form.dob.errors|striptags}}{% if wrong.dob %}Input does not match records.{% endif %}</td></tr>
<tr><th>Gender</th><td>{{mop_form.gender}}</td><td style="font-weight:bold;color:red" {% if not mop_form.gender.errors and not wrong.gender %}class="nobox"{% endif %}>{{mop_form.gender.errors|striptags}}{% if wrong.gender %}Input does not match records.{% endif %}</td></tr>
<tr><th>Weight</th><td>{{mop_form.weight}}kg</td><td style="font-weight:bold;color:red" {% if not mop_form.weight.errors and not wrong.weight %}class="nobox"{% endif %}>{{mop_form.weight.errors|striptags}}{% if wrong.weight %}Input does not match records.{% endif %}</td></tr>
<tr><th>Height</th><td>{{mop_form.height}}cm</td><td style="font-weight:bold;color:red" {% if not mop_form.height.errors and not wrong.height %}class="nobox"{% endif %}>{{mop_form.height.errors|striptags}}{% if wrong.height %}Input does not match records.{% endif %}</td></tr>
<tr><th>Marital Status</th><td>{{mop_form.marital}}</td><td style="font-weight:bold;color:red" {% if not mop_form.marital.errors and not wrong.marital %}class="nobox"{% endif %}>{{mop_form.marital.errors|striptags}}{% if wrong.marital %}Input does not match records.{% endif %}</td></tr>
<tr><th>Hair Colour</th><td>{{mop_form.hair}}</td><td style="font-weight:bold;color:red" {% if not mop_form.hair.errors and not wrong.hair %}class="nobox"{% endif %}>{{mop_form.hair.errors|striptags}}{% if wrong.hair %}Input does not match records.{% endif %}</td></tr>
<tr><th>Eye Colour</th><td>{{mop_form.eyes}}</td><td style="font-weight:bold;color:red" {% if not mop_form.eyes.errors and not wrong.eyes %}class="nobox"{% endif %}>{{mop_form.eyes.errors|striptags}}{% if wrong.eyes %}Input does not match records.{% endif %}</td></tr>
<tr></tr>
<tr></tr>
<tr><th>New Password</th><td>{{pass_form.password1}}</td><td style="font-weight:bold;color:red" {% if not pass_form.password1.errors %}class="nobox"{% endif %}>{{pass_form.password1.errors|striptags}}</td></tr>
<tr><th>Confirm New Password</th><td>{{pass_form.password2}}</td><td style="font-weight:bold;color:red" {% if not pass_form.password2.errors and not pass_form.non_field_errors %}class="nobox"{% endif %}>{% if pass_form.password2.errors %}{{pass_form.password2.errors|striptags}}{% else %}{{ pass_form.non_field_errors|striptags }}{% endif %}</td></tr>
</table>
<input class=button type="submit" value="Reset Password" />
</form>
{% endif %}

{% endblock %}

{% block help %}
<p>
If you have forgotten your password, you can reset it here. For security reasons you need to confirm your identity by entering the data from your personnel file.
</p>
{% endblock %}