{% extends 'mop/base.html' %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
	$(function() {
		$( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear:true, yearRange: "-100:+0" });
	});
</script>

{% if correct %}
<h1>Password Reset Successful</h1>
<p>Citizen Helper {{mop.firstname}} {{mop.lastname}}, your password was changed. Continue to <a href="{% url 'mop_index' %}">intranet login</a>.</p>
{% else %}
<h1>Password Reset</h1>
{% if error %}<p style="font-weight:bold;color:red;">Error:{{error}}</p>{% endif %}
<form action="{% url 'mop_password' %}" method="post">{% csrf_token %}
<table>
<tr><th>identifier</th><td>{{pass_form.serial}}</td><td {% if not pass_form.serial.errors %}class="nobox"{% endif %}>{{pass_form.serial.errors|striptags}}</td></tr>
<tr><th>first name</th><td>{{mop_form.firstname}}</td><td {% if not mop_form.firstname.errors %}class="nobox"{% endif %}>{{mop_form.firstname.errors|striptags}}</td></tr>
<tr><th>last name</th><td>{{mop_form.lastname}}</td><td {% if not mop_form.lastname.errors %}class="nobox"{% endif %}>{{mop_form.lastname.errors|striptags}}</td></tr>
<tr><th>date of birth</th><td>{{mop_form.dob}}</td><td {% if not mop_form.dob.errors %}class="nobox"{% endif %}>{{mop_form.dob.errors|striptags}}</td></tr>
<tr><th>gender</th><td>{{mop_form.gender}}</td><td {% if not mop_form.gender.errors %}class="nobox"{% endif %}>{{mop_form.gender.errors|striptags}}</td></tr>
<tr><th>weight</th><td>{{mop_form.weight}}kg</td><td {% if not mop_form.weight.errors %}class="nobox"{% endif %}>{{mop_form.weight.errors|striptags}}</td></tr>
<tr><th>height</th><td>{{mop_form.height}}cm</td><td {% if not mop_form.height.errors %}class="nobox"{% endif %}>{{mop_form.height.errors|striptags}}</td></tr>
<tr><th>marital status</th><td>{{mop_form.marital}}</td><td {% if not mop_form.marital.errors %}class="nobox"{% endif %}>{{mop_form.marital.errors|striptags}}</td></tr>
<tr><th>hair colour</th><td>{{mop_form.hair}}</td><td {% if not mop_form.hair.errors %}class="nobox"{% endif %}>{{mop_form.hair.errors|striptags}}</td></tr>
<tr><th>eye colour</th><td>{{mop_form.eyes}}</td><td {% if not mop_form.eyes.errors %}class="nobox"{% endif %}>{{mop_form.eyes.errors|striptags}}</td></tr>
<tr></tr>
<tr></tr>
<tr><th>new password</th><td>{{pass_form.password1}}</td><td {% if not pass_form.password1.errors %}class="nobox"{% endif %}>{{pass_form.password1.errors}}</td></tr>
<tr><th>repeat new password</th><td>{{pass_form.password2}}</td><td {% if not pass_form.password2.errors %}class="nobox"{% endif %}>{% if pass_form.password2.errors %}{{pass_form.password2.errors|striptags}}{% else %}{{ pass_form.non_field_errors|striptags }}{% endif %}</td></tr>
</table>
<input class=button type="submit" value="Reset Password" />
</form>
{% endif %}

{% endblock %}

{% block help %}
<p>
If you have forgotten your password, you can reset it here. For security reasons you need to confirm your identity by entering the data from your personnel file
</p>
{% endblock %}