{% extends 'mop/base.html' %}

{% block content %}

<h1>Performance Report</h1>
<table>
<tr><th>Performance Score (total)</th><td>{{user.mop.mopTracker.totalTrust}}</td></tr>
<tr><th>Performance Score (current period)</th><td>{{user.mop.mopTracker.trust}}</td></tr>
<tr><th>Allowance (from last period)</th><td>{{user.mop.mopTracker.allowance}}</td></tr>
<tr><th>Clearance Level</th><td><img class="minibadge" src="{{user.mop.mopTracker.getBadgeUrl}}" /></td></tr>
</table>
<br/>
<table>
<tr><th>Date</th><th>Performance</th><th>Level</th><th>Allowance</th></tr>
{% for trustInstance in trustInstance_list %}
<tr><td>{{trustInstance.createdAt|date:"SHORT_DATE_FORMAT"}}</td><td>{{trustInstance.trust}}</td><td><img class="minibadge" src="{{trustInstance.getBadgeUrl}}" /></td><td>{{trustInstance.allowance}}</td></tr>
{% endfor %}
</table>
{% endblock %}

{% block help %}
<p>
</p>
{% endblock %}

