{% extends 'mop/base.html' %}

{% block content %}

<h1>Performance Report</h1>
<p>Performance (total): {{user.mop.getTotalTrust}}</p>
<p>Performance (current week): {{user.mop.getCurrentTrust}}</p>
<p>Allowance (current week): {{user.mop.getCurrentTrustCredit}}</p>
<p>Clearance Level: {{user.mop.getCurrentClearance}}</p>
<table>
<tr><th>Performance</th><th>Badge</th><th>Year</th><th>Week</th></tr>
{% for weekTrust in weekTrust_list %}
<tr><td>{{weekTrust.trust}}</td><td>{{weekTrust.getBadge}}</td><td>{{weekTrust.year}}</td><td>{{weekTrust.week}}</td></tr>
{% endfor %}
</table>
{% endblock %}

{% block help %}
<p>
</p>
{% endblock %}

