{% extends 'mop/base.html' %}
{% load humanize %}

{% block content %}

<h1>Performance Records</h1>
<p>Shortcut: <a href="{% url 'mop_rules' %}">guidebook</a></p>

<table>
<tr>
<th>Citizen Helper</th>
<th>Identifier</th>
<th>Clearance</th>
{% if user.mop.mopTracker.hasSpecialStatus %}<th>Special<br/>Status</th>{% endif %}
<th>Trust</th>
{% if user.mop.mopTracker.nextLevelAt %}<th>Promotion at</th>{% endif %}
<th>Credits</th>
</tr>
<tr style="text-align:center;">
<td>{{user.mop.firstname}} {{user.mop.lastname}}</td>
<td>{{user.mop.serial}}</td>
<td><img class="minibadge" src="{{user.mop.mopTracker.getBadgeUrl}}" /></td>
{% if user.mop.mopTracker.hasSpecialStatus %}
	<td><img class="minibadge" src="{{MEDIA_URL}}orchid-badge/orchid-white.png" /></td>
{% endif %}
<td>{{user.mop.mopTracker.totalTrust|intcomma}}</td>
{% if user.mop.mopTracker.nextLevelAt %}<td>{{user.mop.mopTracker.nextLevelAt|intcomma}}</td>{% endif %}
<td>{{user.mop.mopTracker.trust|intcomma}}</td>
</tr>
</table>

<h2>Past Performance Records</h2>
{% if trustInstance_list %}
	<table>
	<tr><th>Date</th><th>TRUST</th><th>Credits:</th><th>Clearance</th></tr>
	{% for trustInstance in trustInstance_list %}
		<tr style="text-align:center;">
		<td>{{trustInstance.createdAt|date:"Y-m-d"}}</td>
		<td>{{trustInstance.totalTrust|intcomma}}</td>
		<td>{{trustInstance.oldTrust|intcomma}} => {{trustInstance.newTrust|intcomma}}</td>
		<td><img class="minibadge" src="{{trustInstance.getBadgeUrl}}" /></td>
		{% if trustInstance.specialStatus %}
			<td><img class="minibadge" src="{{MEDIA_URL}}orchid-badge/orchid-white.png" /></td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% else %}
<p>You do not yet have any archived performance records. Performance records are created every night.</p>
{% endif %}

{% endblock %}

{% block help %}
<p>
The Performance Record shows you your current standing in the Ministry.<br/>You are also provided with an overview of your Performance Records from previous days since you started working for the Ministry.<br/><br/>Remember:<br/>Your TRUST determines your clearance level.<br/>Credits allow you to request documents and - in case you have not correctly reported a document during the last three days - are reduced every following day by 10%.
</p>
{% endblock %}

