{% extends 'mop/base.html' %}
{% load staticfiles %}
{% block content %}
	<h1>Clearance Error</h1>
	<p>You do not have sufficient clearance to access document {{document.serial}}{{document.mopDocument.serial}}.</p>
	<table>
	<tr><th>Required Clearance</th><td>{{document.get_clearance_display}}{{document.mopDocument.get_clearance_display}}</td></tr>
	<tr><th>Your Clearance</th><td>{{user.mop.get_clearance_display}}</td></tr>
	</table>
{% endblock %}
{% block help %}
Sometimes you might lose access to a document between weeks. This is probably due to the fact that you could not keep up your level of performance. Try working harder this week and you will probably regain access to this document.
{% endblock %}

