{% extends 'mop/base.html' %}

{% block content %}

<h1>Rules</h1>
<p> Welcome to the Ministry of Provenance Citizen Employee Guidebook. Here you can find all the information you need to be a productive member of the MoP team.
<h2>Units</h2>
<p>
The Ministry of Provenance is divided into several units which are working together and with each other to improve the life of all citizens.
</p>
<table>
<tr><th>Unit</th><th>Identifier</th><th>Description</th></tr>
{% for unit in unit_list %}
<tr><td>{{unit.name}}</td><td>{{unit.serial}}</td><td>{{unit.description}}</td></tr>
{% endfor %}
</table>
<h2>Tasks</h2>
<p>
The Ministry uses a shared task pool system. 
Depending on your clearance level, you will have access to a pool of tasks that are shared with other employees of the same clearance level as you.
<br/>
You can find tasks available to you in the <a href="{% url 'mop_tasks' %}">Tasks</a> page.
<br/>
You may choose which tasks you would like assigned to you by filling in the necessary forms and submitting a request to the relevant MoP unit.
Always make sure you have the right form.<br/>
You can request tasks through the message interface by following these steps:
</p>
<ol>
<li>Compose a new message.</li>
<li>Choose the appropriate unit as recipient.</li>
<li>Select "Requesting Task" as the subject.</li>
<li>Attach the appropriate form to the message.</li>
<li>Send the message.</li>
<li>Once your request has been processed, you will get a notification message.</li>
<li>Barring errors in your request, the task will be assigned to you.</li>
<li>Go back to the <a href="{% url 'mop_tasks' %}">Tasks</a> page and start working!</li>
</ol>
<p>Each task will usually require access to some document. Next section will explain how to access these documents.</p>

<h2>Documents</h2>
Each task has a document relevant for it. Just like tasks, you need to request access to documents, and you do so in the same manner as requesting tasks (see above).<br/>
If your request is properly submitted and processed, the document will then be delivered to your document drawer.
<h2>Forms</h2>
<p>
Every MoP Unit requires a different form for different requests. There are forms to request forms, to request tasks, to request documents and to submit a report (of a fulfilled task).<br/>
You may request forms in the same way as requesting tasks and documents: by filling in a blank Form Request Form which is available to you and sending it to the Unit of Administration.<br/>
Once you acquire a blank form of a certain type, you may use it as many times as you wish. Blank forms you have already acquired can be seen in the <a href="{% url 'mop_forms_blank' %}">Blank Forms</a> page.</br>
The following is a comprehensive list of forms that are currently available from the Unit of Administration:
</p>
<table>
<tr><th>Responsible Unit</th><th>Form</th><th>Usage</th><th>Serial</th></tr>
{% for req in requisition_list %}
	<tr><td>{{req.unit.serial}}</td><td>{{req.name}}</td><td>{{req.get_category_display}}</td><td>{{req.serial}}</td></tr>
{% endfor %}
</table>

<h2>About the Citizen Employment Scheme</h2>
<p>
In our commitment to conduct our operations in an open, transparent and accountable manner, the Ministry of Provenance allows any citizen to join our work force!
As a Citizen Employee, you are given access to documents as needed to complete the tasks that are given to you.
New employees will be start with low clearance and will gain trust as they complete tasks.
The more time you spend as a Citizen Employee of the Ministry, the higher your clearance level will get, and the more access you will be given to sensitive documents and tasks.</p>
<p>
Now everyone can help the Ministry protect and safeguard our most prized asset: the Truth!
</p> 

{% endblock %}

{% block help %}
<p>
</p>
{% endblock %}

