{% extends 'mop/base.html' %}

{% block content %}

<h1>Current Tasks</h1>
<h3>Friendly advice: Gain more trust to gain more tasks!</h3>
<h2>Active tasks</h2>
<table>
<tr><th>Unit</th><th>Task</th><th>Description</th><th>Identification Code</th><th>Documents</th></tr>
{% for taskInstance in active_taskInstance_list %}
	<tr>
	<td>{{taskInstance.task.unit.name}}</td>
	<td>{{taskInstance.task.name}}</td>
	<td>{{taskInstance.task.description}}</td>
	<td>{{taskInstance.task.serial}}</td>
	<td>{% for document in taskInstance.task.document_set.all %}
		{{document.serial}} ({{document.unit.serial}})<br/>
		{% endfor %}</td>
	</tr>
{% endfor %}
</table>
<h2>Available tasks</h2>
<table>
<tr><th>Unit</th><th>Task</th><th>Description</th><th>Identification Code</th></tr>
{% for task in new_task_list %}
	<tr><td>{{task.unit.name}}</td><td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.serial}}</td></tr>
{% endfor %}
</table>

{% endblock %}