{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  	<title>cr0n</title>
  	<meta charset="utf-8">
    <meta cr0nogram="enable">
    <meta name="keywords" content="cr0n, MoP, MofP, provenance, ministry, privacy, documents, data center, domestic spying, spying, monitor, W3C PROV, freedom, five eyes, FVEY, PRISM, GCHQ, MI5, NSA">
    <meta name="description" content="People across the globe working together to expose the Ministry of Provenance.">
    <meta name="author" content="cr0n.org">
    <link rel="stylesheet" href="{% static "cron/css/style.css" %}">
    <link rel="stylesheet" href="{% static "cron/cron.css" %}">
    <link rel="icon" href="{% static "cron/images/favicon.ico" %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static "cron/images/favicon.ico" %}" type="image/x-icon" />

	<script src="{{MEDIA_URL}}ANALYTICS/cr0n.js"></script>
	
</head>

<body>

<!-- Cr0nogram Header -->

	  <div class="container_12">
	    <div class="grid_9">
	    
	      <a class='image' href="{% url 'cron_index' %}">
          <img src="{% static "cron/images/logo.png" %}" alt="----cr0n---------------" /></a>
        </div>
	    <div class="clear"></div>
            <div class="grid_12">
	      
        </div>
      </div>


  <section id="content">
  <div class="container_12">

<!-- Cr0nogram Content Start-->
{% block content %}
{% endblock %}
<!-- Cr0nogram Content End-->

</div>
</section>

<!-- Cr0nogram Footer -->
	<footer>
        <p class='footer'>{% if user.is_authenticated %}<a class='none' href='{% url 'cron_profile' %}'>agent {{user.username}}</a> - <a class='none' href="{% url 'cron_logout' %}">logout</a><br/>{% endif %}
        <span class="clr-9">running cr0nogram v1.45b</a></span><!-- {%Cr0nogram-v} --></p>
    </footer>
</body>
</html>
