{% load staticfiles %}
{% include cron/header.html %}
<body>

<!-- Cr0nogram Header -->

	  <div class="container_12">
	    <div class="grid_9">
	    
	      <a class='image' href="{% url 'cron_index' %}">
          <img src="{% static "cron/images/logo.png" %}" alt="----cr0n---------------" /></a>
        </div>
	    <div class="clear"></div>
            <div class="grid_12">
	      
        </div>
      </div>


  <section id="content">
  <div class="container_12">

<!-- Cr0nogram Content Start-->
{% block content %}
{% endblock %}
<!-- Cr0nogram Content End-->

</div>
</section>

<!-- Cr0nogram Footer -->
	<footer>
        <p class='footer'>{% if user.is_authenticated %}<a class='none' href='{% url 'cron_profile' %}'>agent {{user.username}}</a> - <a class='none' href="{% url 'cron_logout' %}">logout</a><br/>{% endif %}
        <span class="clr-9">running cr0nogram v1.45b</a></span><!-- {%Cr0nogram-v} --></p>
    </footer>

</body>
</html>
