{% extends 'cron/base.html' %}

{% block content %}

<h1>{{missionInstance.mission.name}}</h1>
{% if text %}
	{{text}}
{% endif %}
<table class="banner-1">
{% for caseInstance in caseInstance_list %}
		<tr><td style='vertical-align:middle'>{% if caseInstance.isSolved %}<img src='{{MEDIA_URL}}content/solved.png'/ style='width:80px;'>{% endif %}</td><td style='vertical-align:middle;text-align:left;'>
			<a class='button' style:'width:100%' href="{% if not caseInstance.isSolved %}{% url "cron_case_intro" missionInstance.mission.serial caseInstance.case.serial %}{% else %}{% url "cron_case_outro" missionInstance.mission.serial caseInstance.case.serial %}{% endif %}">{{ caseInstance.case.name }}</a></td></tr>
{% endfor %}
</table>

{% if finished %}
	{% if unpublished %}
		<p style="color:white"><strong>Great job so far! We are following some leads rights now and will inform you when we have more for you to do.</strong></p>
	{% else %}
		<a href="{% url 'cron_mission_debriefing' missionInstance.mission.serial %}">Proceed to Mission Debriefing</a>
	{% endif %}
{% endif %}

{% endblock %}
