{% extends 'cron/base.html' %}

{% block content %}

<h1>{{ case.name }}</h1>
<h2>Background</h2>
{{ text }}
<h2>Required Documents:</h2>
<table>
	<tr>
		<th>document</th>
		<th>responsible unit</th>
		<th>identification number</th>
	</tr>
{% for document in document_list %}
	<tr {% if not document.available %}class="missing"{% endif %}>
	<td>{{document.name}}</td><td>{{document.unit.serial}}</td><td>{{document.serial}}</td></tr>
{% endfor %}
</table>
<h2>Investigate</h2>
<a href="{% url "cron_provenance" case.serial %}">Check da provenance!</a>

{% endblock %}