{% extends 'cron/base.html' %}

{% block content %}

<h1>{{ case.name }}</h1>
<h2>Background</h2>
{{ text }}
<h2>Required Documents:</h2>
<table>
	<tr>
		<th></th>
		<th>document</th>
		<th>responsible unit</th>
		<th>identification number</th>
	</tr>
{% for document in document_list %}
	<tr>
	<td>{% if document.available %}<a href="{% url "cron_provenance" document.serial %}">view</a>{% endif %}</td><td>{{document.name}}</td><td>{{document.unit.serial}}</td><td>{{document.serial}}</td></tr>
{% endfor %}
</table>


{% endblock %}