{% extends 'cron/base.html' %}
{% load staticfiles %}
{% block content %}
<style media="screen" type="text/css">
pre {
white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
 
 width:640px;
 height:240px;
 overflow:scroll;
 background-color:black;
 color:#0e0;
 padding:10px;
 border:4px double #0e0;
 }
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "cron/js/texttype.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        texttype("textDiv", "{{output}}", 100, 100, function() {document.getElementById("case_link").style.visibility="visible";});
      });
    </script>

<br/>
<pre id="textDiv"></pre>
<br/>
<a id="case_link" style="visibility:hidden;" href="{% url "cron_case_intro" cronDocument.case.mission.serial cronDocument.case.serial %}"> Return to case</a>
{% endblock %}
