{% load staticfiles %}
<html>
<head>
<script src="{% static "cron/js/sorttable.js" %}"></script>

<style media="screen" type="text/css">
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
}

tr.research {
	background-color:LightGreen;
}

</style>
</head>
<body>
<table class="sortable">
<thead>
<tr>
	<th>Player Id</th>
	<th>Name</th>
	<th>Gender</th>
	<th>Age</th>
	<th>Town</th>
	<th>Country</th>
	<th>Email</th>
	<th>Cron Id</th>
	<th>Cron</th>
	<th>Documents</th>
	<th>Mop Id</th>
	<th>Mop</th>
	<th>Documents</th>
	<th>Clearance</th>
	<th>Trust</th>
</tr>
</thead>
{% for player in player_list %}
	<tr>	
		<td>player-{{player.id|stringformat:"06d"}}</td>
		<td>{{player.name}}</td>
		<td>{{player.get_gender_display}}</td>
		<td>{{player.age}}</td>
		<td>{{player.town}}</td>
		<td>{{player.country}}</td>
		<td>{{player.cron.email}}</td>
		{% if player.cron %}
			<td>cron-{{player.cron.id|stringformat:"06d"}}</td>
			<td>{{player.cron.user.username}}</td>
			<td>{{player.cron.cronDocumentInstance_list|length}}</td>
		{% else %}
			<td></td>
			<td></td>
			<td></td>
		{% endif %}
		{% if player.mop %}
			<td>mop-{{player.mop.id|stringformat:"06d"}}</td>
			<td>{{player.mop.user.username}}</td>
			<td>{{player.mop.mopDocumentInstance_list|length}}</td>
			<td>{{player.mop.mopTracker.get_clearance_display}}</td>
			<td>{{player.mop.mopTracker.totalTrust}}</td>
		{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		{% endif %}
	</tr>
{% endfor %}
</table>

</body>
</html>