{% extends 'cron/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Message Composition</h1>
<p>Agent {{user.username}}, you should always use our secure and encrypted messaging system for any communication. </p>
<br/>
Your message:
<form method="post" action="">
<table>
	{% csrf_token %}
	<tr><td>{{form.body}}</td><td>{{form.body.errors}}</td></tr>
</table>
<input class="button" type="submit" value="Send" />
</form>
<br/><br/>
<p><a href="{% url 'cron_messages' %}">Back to messages</a></p><br/>
{% endblock %}