{% extends 'cron/base.html' %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
	$(function() {
		$( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear:true, yearRange: "-100:+0" });
	});
</script>

<h1>Infiltration Account</h1>
<p>{{missionInstance.mission.activity}}</p>
<form action="{% url 'cron_mission_cases' missionInstance.mission.serial %}" method="post">{% csrf_token %}
<hr/>
<table>
<tr><td>First Name:</td><td>{{mop_form.firstname}}</td><td>{{mop_form.firstname.errors}}</td></tr>
<tr><td>Last Name:</td><td>{{mop_form.lastname}}</td><td>{{mop_form.lastname.errors}}</td></tr>
<tr><td>Date of Birth:</td><td>{{mop_form.dob}}</td><td>{{mop_form.dob.errors}}</td></tr>
<tr><td>Gender:</td><td>{{mop_form.gender}}</td><td>{{mop_form.gender.errors}}</td></tr>
<tr><td>Weight:</td><td>{{mop_form.weight}}kg</td><td>{{mop_form.weight.errors}}</td></tr>
<tr><td>Height:</td><td>{{mop_form.height}}cm</td><td>{{mop_form.height.errors}}</td></tr>
<tr><td>Hair Colour:</td><td>{{mop_form.hair}}</td><td>{{mop_form.hair.errors}}</td></tr>
<tr><td>Eye Colour:</td><td>{{mop_form.eyes}}</td><td>{{mop_form.eyes.errors}}</td></tr>
<tr><td>Marital Status:</td><td>{{mop_form.marital}}</td><td>{{mop_form.marital.errors}}</td></tr>
</table>
<hr/>
<p>You also need to choose your account credentials in order to be able to log in to the intranet of the Ministry of Provenance. Our hackers will then add your account to the official MoP system by exploiting a backdoor in their employee registration software.</p>
<hr/>
<table>
<tr><td>MoP User Name:</td><td>{{user_form.username}}</td><td>{{user_form.username.errors}}Letters, digits and @/./+/-/_ only.</td></tr>
<tr><td>Password:</td><td>{{user_form.password1}}</td><td>{{user_form.password1.errors}}</td></tr>
<tr><td>Password Confirmation:</td><td>{{user_form.password2}}</td><td>{{user_form.password2.errors}}</td></tr>
</table>	
<hr/>
<input class="proceed button" type="submit" value="Create MoP Citizen Helper" />
</form>

{% endblock content %}
