{% extends 'cron/base.html' %}
{% load staticfiles %}

{% block header %}
<style media="screen" type="text/css">
pre {
white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
 
 width:640px;
 {% if not operation.hasClosed and firstLook %}
 height:240px;
 overflow:scroll;
 {% endif %};
  background-color:black;
 color:#0e0;
 padding:10px;
 border:4px double #0e0;
 }
 

</style> 
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static "cron/js/texttype.js" %}"></script>
<script type="text/javascript">

{% if not operation.hasClosed and firstLook %}
	$(document).ready(function() {	
		texttype("textDiv", "{{output|escapejs}}", 100, 100, function() {
		});
	});
{% endif %}

</script>

{% endblock %}

{% block content %}

<h1>Operation: {{operation.name}}</h1>

<h2>MoP HoH infiltration</h2>
<br/>
{% if operation.hasClosed or not firstLook %}
This is a dump of the infiltration attempt.<br/><br/>
<pre id="textDiv">{{output}}</pre>
{% else %}
<pre id="textDiv"></pre>
{% endif %}
<br/>
<br/>
<span style="color:white;">Report your findings to Cr0n!</span><br/><br/>
<a href="{% url 'cron_operation_cluster_mine' %}">Back to operation overview</a>

{% endblock %}