{% extends 'cron/base.html' %}
{% load staticfiles %}

{% block header %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'cron/js/jquery.js' %}"></script>
<script type="text/javascript">


{% if not allSolved %}
window.setInterval(function(){
	$.ajax({
            type: 'POST',
            url: "{% url 'cron_operation_waterdrill_sync' %}",
            data:
            {
            	'riddle': {{currentRiddle.id}},
            	{% if currentRiddle.riddleTracker.solved %}
            		'solved': true
            	{% else %}
            		'solved': false
            	{% endif %}
	    	},
            success: function (data) {
            	if (data['reload']) {
            		location.reload(true);
            	}
            	$("#minutes").html(data['minutes']);
            	$("#seconds").html(data['seconds']);
            },
            error: function(data) {

            }
        });
        return false;

},5000);

window.setInterval(function(){
	minutes = $("#minutes").html();
	seconds = $("#seconds").html();
	seconds = seconds - 1;
	if (seconds == -1) {
		minutes = minutes - 1;
		seconds = 59;
		minutes = $("#minutes").html(minutes);
	}
	if (minutes < 0) {
		location.reload(true);
	};
	$("#seconds").html(seconds);
},1000);	
{% endif %}


</script>

{% endblock %}

{% block content %}
<h1>Operation: Water Drill</h1>
<table style="border-spacing:0px 0px;">
<tr>
{% for riddle in riddle_list %}
	{% if riddle == currentRiddle %}
		{% if hasSolved %}
			<td style="color:black;padding:3px;background-color:green;border:2px solid white;">
		{% elif riddle.riddleTracker.solved %}
			<td style="color:black;padding:3px;background-color:yellow;border:2px solid white;">
		{% else %}
			<td style="color:black;padding:3px;background-color:red;border:2px solid white;">
		{% endif %}
	{% elif riddle.riddleTracker.solved %}
		<td style="color:black;padding:5px;background-color:green">
	{% else %}
		<td style="color:black;padding:5px;background-color:red">
	{% endif %}
	{{riddle.rank}}
	</td>
{% endfor %}
</tr>
</table>
<br/>

{% if allSolved %}
<p style="color:white;">MoP firewall succesfully compromised.</p>
{% else %}
	{% if not hasSolved %}
		<table>
		<tr><th>Remaining time</th><td><span id='minutes'>{{minutes}}</span> minutes and <span id='seconds'>{{seconds}}</span> seconds.</td></tr>
		<tr><th>Active level</th><td>{{currentRiddle.rank}}</td></tr>
		<form method="POST" action="{% url 'cron_operation_waterdrill' %}" id="form">{% csrf_token %}
		<tr><th>Key</th><td>{{currentRiddle.text}}</td></tr>
		<tr><th>Code</th><td>{{riddleAttemptForm.attempt}} {% if falseAttempt %}<strong style="color:red">{{falseAttempt}} was not the correct code.</strong>{% endif %}</td></tr>
		<tr><th></th><td><input class="button" type="submit" value="hack" /></td></tr>
		</table>
		</form>
		{% if currentRiddle.riddleTracker.solved %}
			<p>It seems like another agent has broken the code of the current level.</p>
		{% endif %}		
	{% else %}
		<p style="color:white;">Good work, agent! The next level of the firewall will be attacked in <span id='minutes'>{{minutes}}</span> minutes and <span id='seconds'>{{seconds}}</span> seconds.</p>
	{% endif %}
{% endif %}

<br/><br/>
<table>
<tr><th>Level</th><th>Key</th><th>Code (mark to reveal)</th></tr>
{% if hasSolved %}
	<tr>
	<td style="text-align:center;">{{currentRiddle.rank}}</td>
	<td style="text-align:center;">{{currentRiddle.text}}</td>
	<td style="text-align:center;color:black;background-color:black;">{{currentRiddle.solution}}</td>
	</tr>
{% endif %}
{% for riddle in oldRiddle_list %}
		<tr>
		<td style="text-align:center;">{{riddle.rank}}</td>
		<td style="text-align:center;">{{riddle.text}}</td>
		<td style="text-align:center;color:black;background-color:black;">{{riddle.solution}}</td>
		</tr>
{% endfor %}
</table>

{% endblock %}