{% extends 'cron/base.html' %}
{% load staticfiles %}

{% block header %}
<style media="screen" type="text/css">
pre {
white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
 
 width:640px;
 height:240px;
 overflow:scroll;
 background-color:black;
 color:#0e0;
 padding:10px;
 border:4px double #0e0;
 }
 

</style> 
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static "cron/js/texttype.js" %}"></script>
<script type="text/javascript">

{% if output %}
	var mayReload = false;
{% else %}
	var mayReload = true;
{% endif %}

{% if not operation.hasStarted %}
	var totalSeconds = {{operation.secondsToStart}};
{% else %}
	var totalSeconds = {{remainingSeconds}};
{% endif %}

{% if not operation.hasStopped %}

	function updateTimer(){
		totalSeconds -= 1;
		if (totalSeconds <= 0 && mayReload == true) {
			location.reload(true);
		}
		var hours = Math.floor(totalSeconds / 3600);
		var minutes = Math.floor( (totalSeconds - (hours * 3600)) / 60);
		var seconds = totalSeconds - (hours * 3600) - (minutes * 60);
		
		if (hours   < 10) {hours   = "0"+hours;}
	    if (minutes < 10) {minutes = "0"+minutes;}
	    if (seconds < 10) {seconds = "0"+seconds;}

		{% if not operation.hasStarted %}
			var timer = hours + " hours " + minutes + " minutes " + seconds + " seconds";
		{% else %}
			var timer = minutes + " minutes " + seconds + " seconds";
		{% endif %}		
		$("#timer").html(timer);
	
	}
	
	window.setInterval(function(){updateTimer()},1000);	

{% endif %}

{% if operation.hasStarted and not operation.hasStopped and not currentRiddle.solved %}
	window.setInterval(function(){
		$.ajax({
	            type: 'POST',
	            url: "{% url 'cron_operation_cluster_mine_sync' %}",
	            data:
	            {
		    	},
	            success: function (data) {
	            	if (data['reload']==true) {
	            		location.reload(true);
	            	}
	            	if (data['connectionError']==true) {
	            		$("#connectionError").html("There was an error connecting to the Cr0n server. Please reload page.<br/><br/>");
	            	}

	            	//totalSeconds = data['remainingSeconds'];

	            },
	            error: function(data) {
	
	            }
	        });
	        return false;
	
	},5000);


{% endif %}



{% if output %}
	$(document).ready(function() {	
		$( "#textDiv" ).fadeIn( "slow", function() {
			texttype("textDiv", "{{output}}", 100, 100, function() {
				$( "#textDiv" ).fadeOut( "slow", function() {
		    		$( "#operation_content" ).fadeIn( "slow", function() {
		    			mayReload = true;
		    		});
		  		});
			});
		});
	});
{% endif %}

</script>

{% endblock %}

{% block content %}

<h1>Operation: {{operation.name}}</h1>

{% if not operation.hasStarted %}
	Projected start of operation: {{operation.startTime|date:" Y-m-d H:i"}}<br/>
	Projected end of operation: {{operation.stopTime|date:" Y-m-d H:i"}}<br/>
	Time until start: <span id="timer"></span><br/>
	<br/>
	<span style="color:white">Be prepared.</span>
{% else %}
	<h2>MoP cyber security bypass procedure</h2>
	<br/>
	{% if output %}
		<pre id="textDiv" style="display:none;"></pre><br/>
		<div id="operation_content" style="display:none;">
	{% else %}
		<div id="operation_content">
		<div id="connectionError" style="color:red;"></div>
	{% endif %}
	
	
	
		<table style="border-spacing:0px 0px;table-layout:fixed;width:100%;text-align:center;">
		<tr>
			{% for riddle in riddle_list %}
			<td style="color:black;padding:5px;{% if riddle.hasSolved %}background-color:#097504;{% elif riddle.solved or operation.hasStopped %}background-color:#ffde00;{% else %}background-color:#ce0000;{% endif %}{% if riddle == currentRiddle and not operation.hasStopped %}border:2px solid white;{% endif %}">
				{{riddle.rank}}
				</td>
			{% endfor %}
		</tr>
		</table>
		<br/>
		
		{% if operation.hasClosed or operation.hasStopped or currentRiddle.rank == 24 and currentRiddle.hasSolved %}
			{% if operation.hasClosed %}
				<p>Operation Cluster Mine is over. Thanks to the joint efforts of our agents it was possible to infiltrate an important MoP server.
				</p>
			{% elif operation.hasStopped %}
				<p>By entering all 24 access codes correctly and in time, we can now infiltrate the target MoP server.
				</p>
			{% elif currentRiddle.rank == 24 and currentRiddle.hasSolved %}
				<p><span style="color:white;">Excellent job, agent! This was the last necessary code.</span><br/>
					By entering all 24 access codes correctly and in time, we can now infiltrate the target MoP server.
				</p>
			{% endif %}
			<br/>
			<div style="width:200px;text-align:center;"><a class="button" href="{% url 'cron_operation_cluster_mine_infiltration' %}">
			{% if operationTracker.hasInfiltrated or operation.hasClosed %}
				view infiltration
			{% else %}
				start infiltration
			{% endif %}
			</a></div>
		{% else %}
			{% if not currentRiddle.hasSolved %}
				{% if currentRiddle.solved %}
					<p>Another agent has entered the correct code.<br/><br/></p>
				{% endif %}
				<table style="width:100%">
				<tr><td style="white-space:nowrap;"><h3>Remaining time:</h3></td><td><h3><span id='timer'></span></h3></td></tr>
				<tr><td><h3>Active level:</h3></td><td><h3>{{currentRiddle.rank}}</h3></td></tr>
				<tr><td><h3>Key:</h3></td><td><div style="word-wrap:break-word;max-width:600px;">{{currentRiddle.text}}</div></td></tr>
				<form method="POST" action="{% url 'cron_operation_cluster_mine' %}" id="form">{% csrf_token %}
				<tr><td><h3>Code:</h3></td><td>{{riddleAttemptForm.attempt}}</td></tr>
				<tr><td></td><td><input class="button" type="submit" value="submit code" /></td></tr>
				</table>
				</form>
	
			{% else %}
				<p><span style="color:white;">Great work, agent!</span><br/>
					Time until next security level: <span id='timer'></span>
				</p>
			{% endif %}
		{% endif %}
		
		<br/>
		{% if currentRiddle.rank > 1 or currentRiddle.hasSolved %}
			<table style="text-align:center;width:100%;">
			<tr><th>Level</th><th>Key</th><th>Code (mark to reveal)</th></tr>
			{% for riddle in riddle_list %}
				{% if operation.hasStopped or riddle.rank < currentRiddle.rank or riddle.rank == currentRiddle.rank and riddle.hasSolved %}
				<tr>
					<td style="color:black;vertical-align:middle;{% if riddle.hasSolved %}background-color:#097504;{% else %}background-color:#ffde00;{% endif %}">{{riddle.rank}}</td>
					<td><div style="text-align:left;word-wrap:break-word;max-width:600px;;">{{riddle.text}}</div></td>
					<td style="white-space:nowrap;background-color:black;vertical-align:middle;{% if not riddle.hasSolved %}color:black;{% endif %}">{{riddle.solution}}<span></td>
				</tr>
				{% endif %}
			{% endfor %}
			</table>
		{% endif %}
		
		<br/>
		<table>
		<tr><td style="background-color:#097504;width:20px;"></td><td>deciphered by you</td></tr>
		<tr><td style="background-color:#ffde00;width:20px;"></td><td>deciphered by another agent</td></tr>
		<tr><td style="background-color:#ce0000;width:20px;"></td><td>not yet deciphered</td></tr>
		</table>
		<br/>
		<h3>Briefing</h3>
		{% if operation.hasStopped %}<span style="color:white;">Note: This part of the operation has already concluded.</span><br/>{% endif %}
		<p>{{operation.instruction|safe}}</p> 
		</p>
	</div>
	
	
{% endif %}

{% endblock %}