{% extends 'cron/base.html' %}
{% load staticfiles %}

{% block header %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>


<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".content").hide();
  //toggle the componenet with class msg_body
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".content").slideToggle(500);
  });
});
</script>

{% endblock %}

{% block content %}
<h1>Cron Data</h1>
<table>
<tr><td>User name:</td><td>{{cron.user.username}}</td></tr>
<tr><td>Email:</td><td>{{cron.email}}</td></tr>
</table>
<hr/>
<h1>Progress and Performance</h1>
{% if cronDocumentInstance_list %}
<table>
<tr><th>Mission</th><th>Case</th><th>Document</th><th>Rating</th></tr>
{% for cronDocumentInstance in cronDocumentInstance_list %}
	<tr><td style="vertical-align:middle">{{cronDocumentInstance.cronDocument.case.mission.name}}</td><td style="vertical-align:middle">{{cronDocumentInstance.cronDocument.case.name}}</td><td style="vertical-align:middle">{{cronDocumentInstance.cronDocument.name}}</td>
	<td>{% for i in cronDocumentInstance.getStarsForTemplate %}<img width=64px src="{% static 'cron/images/hat.png' %}" />{% endfor %}</td></tr>
{% endfor %}
</table>
{% else %}
<p>You have not completed any missions yet</p>
{% endif %}
{% if missionInstance_list %}
	<hr/>
	<h1>Admin</h1>
	<table>
	{% for missionInstance in missionInstance_list %}
	<tr><td>{{missionInstance.mission.name}}</td><td><a href="{% url 'cron_mission_reset' missionInstance.mission.serial %}">reset</a></td><td><a href="{% url 'cron_mission_delete' missionInstance.mission.serial %}">delete</a></td></tr>
	{% endfor %}
	</table>
{% endif %}
{% if mop_list %}
	<hr/>
	<h1>MoP Data</h1>
	{% for mop in mop_list %}
	<table>
	<tr><td>User name:</td><td>{{mop.user.username}}</td></tr>
	<tr><td>ID:</td><td>{{mop.serial}}</td></tr>
	<tr><td>Status:</td><td>{% if mop.active %}active{% else %}retired{% endif %}</td></tr>
	<tr><td>Name: </td><td>{{mop.firstname}} {{mop.lastname}}</td></tr>
	<tr><td>Date of Birth:</td><td>{{mop.dob}}</td></tr>
	<tr><td>Gender</td><td>{{mop.get_gender_display}}</td></tr>
	<tr><td>Weight:</td><td>{{mop.weight}}kg</td></tr>
	<tr><td>Height:</td><td>{{mop.height}}cm</td></tr>
	<tr><td>Marital Status:</td><td>{{mop.get_marital_display}}</td></tr>
	<tr><td>Hair Colour:</td><td>{{mop.get_hair_display}}</td></tr>
	<tr><td>Eye Colour:</td><td>{{mop.get_eyes_display}}</td></tr>
	</table><br/>
	{% endfor %}
{% endif %}
<hr/>
<h1>Resignation</h1>
<p>If you no longer want to fight against the Ministry of Provenance, you are free leave Cr0n at any time.</p>
<br/><a class="heading">Yes, I no longer want to help Cr0n.</a>
<div class='content'>
<form action="{% url 'cron_terminate' %}" method="post">{% csrf_token %}
<input style="color:red;" class="button" type="submit" value="Terminate Agent Status Permanently" name="terminate" />
</form>
<div>
{% endblock %}