body {
	background-color:#000;
	font-family:courier;
	color:#000;
	line-height:125%;
	font-size:16px;
}

div.wrapper {
	margin-left:25px;
	width:1266px;
}

div.header {
	text-align:right;
	margin-top:10px;
	color:#eee;
}

div.main {
	margin-top:10px;
}

div.navbar {
	background-color:#eee;
	margin-top:10px;
	padding:10px;
	border:4px solid #eee;
	border-radius:25px;
}

div.content {
	background-color:#eee;
	float:left;
	padding:10px;
	width:900px;
	border:4px solid #eee;
	border-radius:25px;
}

div.sidebar {
	background-color:#eee;
	float:left;
	margin-left:10px;
	padding:10px;
	width:300px;
	border:4px solid #eee;
	border-radius:25px;
}

span.marquee {
	margin-right:666px;
}

p.nav {
	font-size:28px;
	line-height:150%;
}

input.button {
	color:#000;	
	background-color:#3ea255;
	border:1px solid #3ea255;
	border-radius:25px;
	padding:15px;
	font-size:20px;
	font-family:inherit;
	cursor: pointer;
}

ul.table_of_contents li {
	margin-bottom:10px;
}

a {
	color:#000;	
	text-decoration:none;
	background-color:#3ea255;
	border:1px solid #3ea255;
	border-radius:25px;
	padding-left:5px;
	padding-right:5px;
}

a.button, a.button:hover {
	border:0px;
	padding:0px;
	background-color:#eee;
}

a:hover, input.button:hover {
	border-color:#000;
	background-color:#000;
	color:#3ea255;
}

a.internal, a.internal:hover {
	color:inherit;
	background-color:inherit;
	border:none;
}

div.logo {
	text-align:right;
}

img.logo {
	width:300px;
}

table {
	border-collapse: separate;
	border-spacing: 5px 10px;
}

div.withImage h1 {
	display:inline-block;
	width:188px;
}

div.withImage img {
	width:100px;
	vertical-align:middle;
}

h1, h2 {
	line-height:150%;
}


th, h1, h2 {
	border:2px solid #000;
	border-radius:10px;
	padding:4px;
	background-color:#000;
	color:#eee;
}

td {
	border:2px solid #3ea255;
	border-radius:10px;
	padding:4px;
}

td.nobox {
	border:0px;
}

td.nopadding {
	padding:0px;	
}

th.nobox {
	border:0px;
	background-color:#eee;
}

tr.trashed {
	text-decoration:line-through;
}


.styled-select {
	overflow: hidden;
	float: left;
	width: 340px;
	margin-right: 10px;
	background-color:#3ea255;
	border-radius:10px;
	padding:0px;
}

.styled-select select {
	font-size: 16px;
	border-radius: 0;
	border: none;
	background: transparent;
	width: 340px;
	overflow: hidden;
	text-indent: 10px;
	color: #ffffff;
	padding-top:10px;
	padding-bottom:10px;
	font-family:courier;
	-webkit-appearance: none;

	//-moz-appearance: none;
    text-overflow: '';

}

.styled-select option 
{
	background-color:#3ea255;
}

img.minibadge {
	width:50px;
}

