input.button, a {
	background-color:#4e6aff;
	border-color:#4e6aff;
}

a:hover, input.button:hover {
	color:#4e6aff;
}

td {
	border-color:#4e6aff;
}

.styled-select {
	background-color:#4e6aff;
}


.styled-select option 
{
	background-color:#4e6aff;
}