
input.button, a.button {
	color:#03c1e2;
	background-color:#000;
	border:0px solid #03c1e2;
	border-radius:5px;
	padding:15px;
	font-size:20px;
	font-family:inherit;
	cursor: pointer;
	margin-top:10px;
	margin-bottom:10px;
}

input.buttonslim {
	color:#03c1e2;
	background-color:#000;
	border:0px solid #03c1e2;
	border-radius:5px;
	padding:10px;
	font-size:14px;
	font-family:inherit;
	cursor: pointer;
}

a.button {
	display:block;
}

a {
	color:#03c1e2;
	text-decoration:none;
}

a:before {
	content: '[';
}
a:after {
	content: ']';
}

a.button:before, a.button:after, a.image:before, a.image:after {
	content:'';
}

a.none {
	color:#03c1e2;
	text-decoration:none;
}

a.none:hover {
	text-decoration:none;
}


a.image {
	background-color:transparent;
}

a.image:hover {
	background-color:transparent;
}

a:visited {
	color:#03c1e2
}


input.button:hover, a:hover, input.buttonslim:hover {
	color:#000;
	background-color:#03c1e2;
	text-decoration:none;
}


.errorlist, .missing { color:red; }

table {
	border-collapse:separate;
	border-spacing:20px 5px;
}

table.slim {
	border-spacing:0 0;
}

div.loginbox {
	margin-left:60px;
}

p.footer {
	line-height:200%;
}

div.mainsidebar {
	margin-left:80px;
}
