<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>

<div id="container"></div>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/17451725/imPROVe.js"></script>
    <script>
      
      $.getJSON("http://127.0.0.1:8000{{ MEDIA_URL }}{{jsonurl}}", function(json) {
    	   loadJSONProv(json);
    	   loadImages(initStage);
    	 });
      

    </script>
  
{{ json_str }}<br/>
<img src="{{ MEDIA_URL }}{{imageurl}}"><br/>

  </body>
</html>