<html>
<head>
  <title></title>
</head>
<body>
<form action="{% url 'provmanager_create' %}" method="post">{% csrf_token %}
<table>
<tr>
	<td>
		<strong>GraphML Input:</strong><br/>
		<textarea name="graphml" id="drop_zone" style="width:480px; height:80px">{{graphml_str}}</textarea><br/><br/>
		{% if valid == None %}
		{% else %}
			{% if valid %}
				<strong>JSON Output:</strong><br/>
				<textarea name="json" style="width:480px; height:80px">{{json_str}}</textarea><br/><br/>
			{% endif %}
		{% endif %}
		<strong>Filename:</strong>
		<input id="filename" type="text" name="filename" value="{{filename}}" size="50"/>
	</td>
	<td>
		{% for output in output_list %}
			{% with output|slice:':1' as start %}
				{% if start == 'W' %}
					<span style='color:red'>
				{% else %}
					<span style='color:green'>
				{% endif %}
			{% endwith %}
			{{output}}</span><br/>
		{% endfor %}
		<br/>
		{% if valid == None %}
		{% else %}
			{% if valid %}Valid document!
			{% else %} INVALID DOCUMENT!
			{% endif %}
			<a href="{{validation_url}}" target="_blank">Check Report</a><br/>
		{% endif %}
	</td>
</tr>
</table>
<input type="submit" value="Convert" name="convert" />
{% if valid == None %}
{% else %}
	{% if valid %}
		<input type="submit" value="Randomize" name="randomize" />
	{% endif %}
{% endif %}
<br/><br/>
{% if valid == None %}
{% else %}
	<strong>Ingame preview:</strong><br/>
	{% include 'provmanager/improve.html' %}
	<br/><br/>
	{% if valid %}
	<input type="submit" value="Save" name="save" />
	{% endif %}
{% endif %}
</form>
<br/><br/>
<script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.
    var reader = new FileReader();  
    reader.onload = function(event) {            
         document.getElementById('drop_zone').value = event.target.result;
    }        
    reader.readAsText(files[0],"UTF-8");
    document.getElementById('filename').value = files[0].name;
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
</script>
</body>
</html>