{% load staticfiles %}
{% if is_test %}
<body>
<h3>This is just a test</h3>
{% else %}
<body style="overflow:hidden">
{% endif %}

<style>
* {
	border: none;
	margin: 0;
	padding: 0
}
</style>

<div id="preload">
   <audio id="click" preload="auto">
    <source src="https://dl.dropboxusercontent.com/u/17451725/63532__florian-reinke__click2.wav" />  
   </audio>
 <p id="loading">Loading...</p>
 
	{% if isCron %} 
		<div  id="container"  style="background-image:url({{MEDIA_URL}}improve/cron_background.jpg); background-size:cover; padding : 0px;width: 100%;height: 100%;background-color: white;visibility: visible;border: 1px solid black;">
	{% elif isMop %}
		<div  id="container"  style="background-image:url({{MEDIA_URL}}improve/mop_background.jpg); background-size:cover; padding : 0px;width: 100%;height: 100%;background-color: white;visibility: visible;border: 1px solid black;">
	{% endif %}
	</div>
	<div id="dialog1" title="Media Inspector">
	</div>
	<div id="dialog2" title="Media Inspector">
	</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    
    <script>
    	var PROV_SERIAL = "{% if provenance %}{{provenance.serial}}{% else %}0{% endif %}";
    	var URL_CHECK = "{% url 'provmanager_prov_check' %}";
    	var URL_LOG = "{% url 'provmanager_prov_log_action' %}";
    	
    	{% if inactive %}
    		var INACTIVE = true;
    	{% else %}
    		var INACTIVE = false;
    	{% endif %}
    	
    	{% if is_test %}
    		var IS_TEST = true;
    		var URL_GET_STATE = "";
    	{% else %}
    		var IS_TEST = false;
    		var URL_GET_STATE = "{% url 'provmanager_improve_saved_state' provenance.serial %}";
    	{% endif %}
    	{% if case %}
    		var URL_CONTINUE = "{% url 'cron_case_intro' mission.serial case.serial %}";
    	{% elif isMop %}
    		var URL_CONTINUE = "{% url 'mop_documents' %}";
    	{% else %}
    		var URL_CONTINUE = "";
    	{% endif %}
		var DEBUG = false;
		var URL_MEDIA = "{{MEDIA_URL}}";

		var FIRST_TIME = false;
    </script>
{% if isCron %}
    <script src="{{MEDIA_URL}}improve/cronKss.js"%}"></script>
{% elif isMop %}
	<script src="{{MEDIA_URL}}improve/mopKss.js"%}"></script>
{% endif %}
	<script src="{% static "provmanager/kinetic-v4.5.4.min.js"%}"></script>
    <script src="{% static "provmanager/imPROVe.js"%}"></script>
    <script src="{% static "provmanager/jquery-ui-git.js"%}"></script>
    
    <script>
    
      {% if provenance %}
	      $.getJSON("{% url 'provmanager_improve' provenance.serial %}", function(json) {
	    	   loadJSONProv(json);
	    	   loadImages(initStage);
	    	 });
	  {% else %}
	  	loadJSONProv({{json_str|safe}});
	  	loadImages(initStage);
	  {% endif %}
    </script>
  </div>
</body>