{% load staticfiles %}
{% load dummyimage_tags %}

<div style="background-image:url({{MEDIA_URL}}improve/paper.jpg);width:100%">
   <audio id="click" preload="auto">
    <source src="https://dl.dropboxusercontent.com/u/17451725/63532__florian-reinke__click2.wav" />  
   </audio>
 <p id="loading">Loading...</p>
	<div id="container" ></div>
	
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script>
    	var AJAX_SERIAL = {% if provenance %}"{{provenance.serial}}"{% else %}"-"{% endif %};
    	var AJAX_URL = "{% url 'provmanager_prov_check' %}";
    	var AJAX_MODE = "{{mode}}";
    	var LOG_URL = "{% url 'provmanager_prov_log_action' %}";
    	var GET_STATE_URL = "{% url 'provmanager_improve_saved_state' provenance.serial mode %}";
    	{% if case %}
    	var CONTINUE_URL = "{% url 'cron_case_intro' mission.serial case.serial %}";
    	{% elif task %}
    	var CONTINUE_URL = "{% url 'mop_documents' %}";
    	{% endif %}
		var DEBUG = false;
		var MEDIA_URL = "{{MEDIA_URL}}";
		var ARROW_URL_1 = "improve/arrow1.png";
		var ARROW_URL_2 = "improve/arrow2.png";
		var MAGNIFY_URL = "improve/magnify.png";
		var FIRST_TIME = true;
		var GENERATED_IMAGE_URL = '{% get_dummyimage_url 600 400 png %}'
    </script>
    <script src="{{MEDIA_URL}}improve/defaultKss.js"%}"></script>
    <script src="{% static "provmanager/imPROVe.js"%}"></script>
    
    <script>
    
      {% if provenance %}
	      $.getJSON("{% url 'provmanager_improve' provenance.serial %}", function(json) {
	    	   loadJSONProv(json);
	    	   loadImages(initStage);
	    	 });
	  {% else %}
	  	loadJSONProv({{json_str|safe}});
	  	loadImages(initStage);
	  {% endif %}
      
	    function hideOverlay()
	    {
	    	document.getElementById("overlay").innerHTML ="";
	    	document.getElementById("overlay").style.display ="none";
	    	mediaLayer.removeChildren();
	    	mediaLayer.draw();
	    }
    </script>
  </div>

