<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>ProvManager</title>
<style type="text/css">
<!--
table { border-collapse:collapse; }
td { border:2px black solid; padding:4px;}
-->
</style>
</head>
<body>
<h1>PROVmanager</h1>
<a href="{% url 'provmanager_create' %}">create new provenance</a>
<br/><br/>
<table>
<tr>
	<th></th>
	<th></th>
	<th>ProvStore</th>
	<th>cr0n: case (document)</th>
	<th>MoP: task (document)</th>
	<th>modified</th>
</tr>
{% for provenance in provenance_list %}
	<tr>
		<td>{% if provenance.store_id %}<a href="{% url 'provmanager_view' provenance.id %}">view</a>{% endif %}</td>
		<td>{{provenance.name}}</td>
		<td><a href="https://provenance.ecs.soton.ac.uk/store/documents/{{provenance.store_id}}/" target="_blank">{{provenance.store_id}}</a></td>
		<td>{% for document in provenance.cron_document_list %}{{document.case.name}} ({{document.name}})<br/>{% endfor %}</td>
		<td>{% for taskInstance in provenance.mop_taskInstance_list %}{{taskInstance.serial}} ({{taskInstance.task.name}})<br/>{% endfor %}</td>
		<td>{{provenance.modifiedAt}}</td>		
	</tr>
{% endfor %}
</table>
</body>
</html>