<h1>{{provenance.name}} - {{provenance.store_id}}</h1>
{% if provenance.get_type_display == 'MOP_TEMPLATE' %}
	<a href='{% url 'provmanager_view_randomize' provenance.id %}'>randomize me</a>
	{% include 'provmanager/improve.html' with is_test=True isMop=True%}
{% elif provenance.get_type_display == 'MOP_INSTANCE' %}
	{% include 'provmanager/improve.html' with is_test=True isMop=True%}
{% else %}
	{% include 'provmanager/improve.html' with is_test=True isCron=True%}
{% endif %}
<hr/>
<pre>{{json}}</pre>